<div class="entry-header" id="top">
    <div id="breadcrumbspage" class="container">
        <a ui-sref="home">Home</a>
        »
        <span class="breadcrumb_last">PAGE NOT FOUND</span>
        <h1 class="entry-title" ng-init="pagetitle='PAGE NOT FOUND'">PAGE NOT FOUND</h1>
    </div>
</div>
<section>
    <div class="container notexist">
        <h2><i class="fa fa-user-secret" aria-hidden="true"></i>

        </h2>
        <h3>The page you are looking for does not exit!</h3>
        <div>
            Please press the back button or select one of the links in the main menu to redirect you! If you are sure the page you require should exist feel free to contact our administrators.
        </div>
        <div class="clear20"></div>

    </div>
</section>
