<div class="entry-header" id="top">
    <div id="breadcrumbspage" class="container">
        <a ui-sref="home">Home</a>
        »
        <span class="breadcrumb_last">Application Form</span>
        <h1 class="entry-title" ng-init="pagetitle='Application Form'">Application Form</h1>
    </div>
</div>
<section>
    <div class="container">
        <div class="col-md-9">
            <h2>In order to proceed to the full application form please answer these quick pre qualifying questions.</h2>
            <form id="rendered-form">
                <div class="fb-text form-group field-name col-md-6">
                    <label for="name" class="fb-text-label"> <span class="required">*</span> </label>
                    <input type="text" required="" placeholder="Your Name" class="form-control" name="name" id="name" aria-required="true">
                </div>
                <div class="fb-text form-group field-surname col-md-6">
                    <label for="surname" class="fb-text-label"> <span class="required">*</span> </label>
                    <input type="text" required="" placeholder="Last Name" class="form-control" name="surname" id="surname" aria-required="true">
                </div>
                <div class="fb-email form-group field-email- col-md-6">
                    <label for="email-" class="fb-email-label"> <span class="required">*</span> </label>
                    <input type="email" required="" placeholder="Email" class="form-control" name="email-" id="email-" aria-required="true">
                </div>
                <div class="fb-text form-group field-phone col-md-6">
                    <label for="phone" class="fb-text-label"> <span class="required">*</span> </label>
                    <input type="text" required="" placeholder="Contact No." class="form-control" name="phone" id="phone" aria-required="true">
                </div>
                <div class="fb-radio form-group field-salalry col-md-4">
                    <label for="salalry" class="fb-radio-group-label">Is your Gross Salary over R6500? <span class="required">*</span> </label>
                    <div class="radio-group">
                        <div class="col-md-1">
                            <input value="Yes" type="radio" required="" class="radio-group" name="salalry" id="salalry-0" aria-required="true"
                                   checked="">
                        </div>
                        <div class="col-md-1">
                            <label for="salalry-0">Yes</label>
                            <br>
                        </div>
                        <div class="col-md-1">
                            <input value="No" type="radio" required="" class="radio-group" name="salalry" id="salalry-1" aria-required="true">
                        </div>
                        <div class="col-md-1">
                            <label for="salalry-1">No</label>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="fb-radio form-group field-year col-md-4">
                    <label for="year" class="fb-radio-group-label">Year model between 2006 and 2016? <span class="required">*</span> </label>
                    <div class="radio-group">
                        <div class="col-md-1">
                            <input value="Yes" type="radio" required="" class="radio-group" name="year" id="year-0" aria-required="true" checked="">
                        </div>
                        <div class="col-md-1">
                            <label for="year-0">Yes</label>
                            <br>
                        </div>
                        <div class="col-md-1">
                            <input value="No" type="radio" required="" class="radio-group" name="year" id="year-1" aria-required="true">
                        </div>
                        <div class="col-md-1">
                            <label for="year-1">No</label>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="fb-radio form-group field-license col-md-4">
                    <label for="license" class="fb-radio-group-label">Do you have a valid drivers licence? <span class="required">*</span> </label>
                    <div class="radio-group">
                        <div class="col-md-1">
                            <input value="Yes" type="radio" required="" class="radio-group" name="license" id="license-0" aria-required="true"
                                   checked="">
                        </div>
                        <div class="col-md-1">
                            <label for="license-0">Yes</label>
                            <br>
                        </div>
                        <div class="col-md-1">
                            <input value="No" type="radio" required="" class="radio-group" name="license" id="license-1" aria-required="true">
                        </div>
                        <div class="col-md-1">
                            <label for="license-1">No</label>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="fb-button form-group field-submitt">
                    <button type="button" class="button-input btn btn-primary" name="submitt" style="primary" id="submitt">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-3 smallhidden"><a ui-sref="showroom">
            <div class="callaction-page">
                <div class="gloss"></div>
                <div class="buticon-page"><img src="img/search-icon.png"></div>
                <p> View <br> Showroom </p></div>
        </a> <a ui-sref="request_car">
            <div class="callaction-page">
                <div class="gloss"></div>
                <div class="buticon-page2"><img src="img/request-car-icon.png"></div>
                <p> Dream Vehicle <br> Request </p></div>
        </a> <a ui-sref="sell_car">
            <div class="callaction-page">
                <div class="gloss"></div>
                <div class="buticon-page2"><img alt="" src="img/sell-car-icon.png"></div>
                <p> Sell Your <br> Vehicle </p></div>
        </a>
            <a ui-sref="finance">
                <div class="callaction-page">
                    <div class="gloss"></div>
                    <div class="buticon-page2"><img alt="" src="img/finance-enquiry-icon.png"></div>
                    <p> Apply For <br>Vehicle Finance </p></div>
            </a> <a ui-sref="findersfee">
                <div class="callaction-page">
                    <div class="gloss"></div>
                    <div class="buticon-page2"><img alt="" src="img/finance-enquiry-icon.png"></div>
                    <p> Finders <br> Fee </p>
                </div>
            </a>
        </div>
    </div>
</section>
