<section>
    <div class = "row">
        <div class = "container" ng-controller = "carRequest as vm">
            <h1 class = "topheader">Vehicle Request</h1>
            <div class = "col-md-9">
                 <h3 class = "topheader">Leave your details below and let FantasyCars&#8482; help you find the car.</h3>
                <form name = "carsearch" id = "carsearch" novalidate angular-validator>
                    <div>
                        <h3 type = "h3" class = "header" name = "">Personal Details</h3>
                    </div>
                    <div class = "fb-text form-group field-name col-md-4 col-sm-12">
                        <label for = "name" class = "fb-text-label">
                            <span class = "required" ng-if = "carsearch.name.$error.required">*</span>
                        </label>
                        <input type = "text"
                               required
                               data-ng-model = "vm.carreq.name"
                               placeholder = "Your Full Name"
                               class = "form-control"
                               name = "name"
                               id = "name"
                               ng-minlength = "3"
                               validate-on = "dirty"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-email form-group field-email col-md-4 col-sm-6">
                        <label for = "email" class = "fb-email-label">
                            <span class = "required" ng-if = "carsearch.email.$error.required">*</span>
                        </label>
                        <input type = "email" data-ng-model = "vm.carreq.email" required placeholder = "Email"
                               class = "form-control" name = "email" id = "email"
                               validate-on = "blur" invalid-message = "'Please enter a valid email..'"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-phone col-md-4 col-sm-6">
                        <label for = "phone" class = "fb-text-label">
                            <span class = "required" ng-if = "carsearch.phone.$error.required">*</span>
                        </label>
                        <input type = "number" data-ng-model = "vm.carreq.phone" required placeholder = "Phone"
                               class = "form-control" name = "phone" id = "phone"
                               validate-on = "blur" ng-minlength = "10" invalid-message = "'You need at least 10 numbers..'"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-make col-md-4 col-sm-6">
                        <label for = "province" class = "fb-text-label">
                            <span class = "required" ng-if = "carsearch.make.$error.required">*</span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.carreq.province"
                               required
                               placeholder = "Province"
                               class = "form-control"
                               name = "province"
                               id = "province"
                               ng-minlength = "3"
                               validate-on = "dirty"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-make col-md-4 col-sm-6">
                        <label for = "make" class = "fb-text-label">
                            <span class = "required" ng-if = "carsearch.make.$error.required">*</span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.carreq.make"
                               required
                               placeholder = "Make"
                               class = "form-control"
                               name = "make"
                               id = "make"
                               ng-minlength = "3"
                               validate-on = "dirty"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-model col-md-4 col-sm-6">
                        <label for = "model" class = "fb-text-label">
                            <span class = "required" ng-if = "carsearch.model.$error.required">*</span>
                        </label>
                        <input type = "text" data-ng-model = "vm.carreq.model" required placeholder = "Model"
                               class = "form-control" name = "model" id = "model"
                               ng-minlength = "3" validate-on = "dirty" required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-year col-md-4 col-sm-6">
                        <label for = "year" class = "fb-text-label">
                            <span class = "required" ng-if = "carsearch.year.$error.required">*</span>
                        </label>
                        <input type = "number" data-ng-model = "vm.carreq.year" required placeholder = "Year"
                               class = "form-control" name = "year"
                               id = "year" ng-minlength = "4" validate-on = "dirty"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group fieldcolour col-md-4 col-sm-6">
                        <label for = "colour" class = "fb-text-label">
                            <span class = "required" ng-if = "carsearch.colour.$error.required">*</span>
                        </label>
                        <input type = "text" data-ng-model = "vm.carreq.colour" required placeholder = "Colour"
                               class = "form-control" name = "colour"
                               id = "colour" ng-minlength = "3" validate-on = "dirty"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-lessthan col-md-4 col-sm-6">
                        <label for = "lessthan" class = "fb-text-label">
                            <span class = "required" ng-if = "carsearch.lessthan.$error.required">*</span>
                        </label>
                        <input type = "number" data-ng-model = "vm.carreq.lessthan" required placeholder = "Price"
                               class = "form-control" name = "lessthan"
                               id = "lessthan" ng-minlength = "3" validate-on = "dirty"
                               required-message = "'This field is required..'">
                    </div>
                    <div>
                        <h3 type = "h3" class = "header" name = "">Vehicle Description</h3>
                    </div>
                    <div class = "fb-undefined form-group field-message">
                        <label for = "pdescription" class = "fb-textarea-label"></label>
                        <textarea type = "textarea"
                                  data-ng-model = "vm.carreq.pdescription"
                                  class = "form-control"
                                  name = "pdescription"
                                  id = "pdescription"
                                  placeholder = "Vehicle Description"></textarea>
                    </div>
                    <div class = "fb-button form-group field-buttsubmit">
                        <button type = "button"
                                ng-click = "vm.sendMail()"
                                class = "button-input btn btn-primary"
                                ng-disabled = "carsearch.$invalid"
                                name = "buttsubmit"
                                id = "buttsubmit">Submit
                        </button>
                    </div>
                </form>
                <span id = "mailsent">Your vehicle request has been received</span>
                <span id = "mailnotsent">Your vehicle request has NOT been sent</span>
                <span id = "spinner"><i class = "fa fa-circle-o-notch fa-spin" aria-hidden = "true"></i> Your vehicle request is being processed</span>
            </div>
            <div class = "col-md-3 smallhidden">

            </div>
        </div>
    </div>
</section>


