<div ui-view = "enquire"></div>
<div ui-view = "financecar"></div>
<section ng-controller = "showRoomall as vm"
         class = "homecontainer"
         id = "hometop">
    <div class = "row">
        <div class = "container">
            <div ng-show = "sr.data.length == 0"
                 class = "fetch">
                <i class = "fa fa-refresh fa-spin"
                   aria-hidden = "true"></i>
            </div>
            <div class = "row detailscontainer ">
                <div class = "col-xs-12 nopad headerdetails">
                    <h3 class = "details col-sm-9">
                        <span>{{::car.make}}</span>
                        {{::car.variant}}
                    </h3>
                    <div class = "col-sm-3 col-xs-12  detailsocial">
                        <div class = "pull-right">
                            Share this page on:
                            <a socialshare
                               socialshare-provider = "facebook"
                               socialshare-text = "Bay Motors"
                               socialshare-hashtags = "Bay Motors"
                               socialshare-url = "{{url}}">
                                <i class = "fa fa-facebook fb"
                                   aria-hidden = "true"></i>
                            </a>
                            <a socialshare
                               socialshare-provider = "twitter"
                               socialshare-text = "Bay Motors"
                               socialshare-hashtags = "Bay Motors"
                               socialshare-url = "{{url}}"
                               class = "twittdetails">
                                <i class = "fa fa-twitter"
                                   aria-hidden = "true"></i>
                            </a>
                            <!--<a socialshare
                               socialshare-provider = "google"
                               socialshare-url = "{{url}}"
                               class = "googledetails">
                                <i class = "fa fa-google-plus"
                                   aria-hidden = "true"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
                <div class = "col-sm-9">
                    <div class = "col-sm-6 col-xs-12 nopad">
                        <div id = "carslide"
                             class = "owl-carousel owl-theme">
                            <a href = "{{car.url1}}"
                               data-lightbox = "gallerybig"
                               data-showImageNumberLabel = "false"
                               data-title = "{{car.make}}, {{car.variant}}">
                                <img src = "{{car.url1}}"
                                     alt = "{{car.make}}"
                                     onerror = "this.style.display='none'">
                            </a>
                            <a href = "{{car.url2}}"
                               data-lightbox = "gallerybig"
                               data-title = "{{car.make}}, {{car.variant}}">
                                <img src = "{{car.url2}}"
                                     alt = "{{car.make}}"
                                     onerror = "this.style.display='none'">
                            </a>
                            <a href = "{{car.url3}}"
                               data-lightbox = "gallerybig"
                               data-title = "{{car.make}}, {{car.variant}}">
                                <img src = "{{car.url3}}"
                                     alt = "{{car.make}}"
                                     onerror = "this.style.display='none'">
                            </a>
                            <a href = "{{car.url4}}"
                               data-lightbox = "gallerybig"
                               data-title = "{{car.make}}, {{car.variant}}">
                                <img src = "{{car.url4}}"
                                     alt = "{{car.make}}"
                                     onerror = "this.style.display='none'">
                            </a>
                            <a href = "{{car.url5}}"
                               data-lightbox = "gallerybig"
                               data-title = "{{car.make}}, {{car.variant}}">
                                <img src = "{{car.url5}}"
                                     alt = "{{car.make}}"
                                     onerror = "this.style.display='none'">
                            </a>
                            <a href = "{{car.url6}}"
                               data-lightbox = "gallerybig"
                               data-title = "{{car.make}}, {{car.variant}}">
                                <img src = "{{car.url6}}"
                                     alt = "{{car.make}}"
                                     onerror = "this.style.display='none'">
                            </a>
                            <a href = "{{car.url7}}"
                               data-lightbox = "gallerybig"
                               data-title = "{{car.make}}, {{car.variant}}">
                                <img src = "{{car.url7}}"
                                     alt = "{{car.make}}"
                                     onerror = "this.style.display='none'">
                            </a>
                            <a href = "{{car.url8}}"
                               data-lightbox = "gallerybig"
                               data-title = "{{car.make}}, {{car.variant}}">
                                <img src = "{{car.url8}}"
                                     alt = "{{car.make}}"
                                     onerror = "this.style.display='none'">
                            </a>
                            <a href = "{{car.url9}}"
                               data-lightbox = "gallerybig"
                               data-title = "{{car.make}}, {{car.variant}}">
                                <img src = "{{car.url9}}"
                                     alt = "{{car.make}}"
                                     onerror = "this.style.display='none'">
                            </a>
                            <a href = "{{car.url10}}"
                               data-lightbox = "gallerybig"
                               data-title = "{{car.make}}, {{car.variant}}">
                                <img src = "{{car.url10}}"
                                     alt = "{{car.make}}"
                                     onerror = "this.style.display='none'">
                            </a>
                        </div>
                        <div id = "carslidethumbs"
                             class = "owl-carousel owl-theme">
                            <img src = "{{car.url1}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url2}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url3}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url4}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url5}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url6}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url7}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url8}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url9}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                            <img src = "{{car.url10}}"
                                 onerror = "this.style.display='none'"
                                 alt = "{{car.make}}">
                        </div>
                    </div>
                    <div class = "col-sm-6">
                        <div class = "modalh2">
                            <span class = "col-sm-6 nopad">{{car.selling_price | currency: "R" || 'Contact us for price' }}</span>
                            <div class = "pricetop nopad  col-sm-6">


                            </div>
                        </div>

                        <div></div>
                        <ul class = "details">
                            <li>
                                <strong>Year: </strong>{{car.year}}
                            </li>
                            <li>
                                <strong>Mileage: </strong>{{car.mileage || '0' | number }} Km
                            </li>
                            <li>
                                <strong>Colour: </strong>{{car.colour}}
                            </li>
                            <li>
                                <strong>Condition: </strong>{{car.condition}}
                            </li>
                            <li>
                                <strong>Body type: </strong>{{car.body_type}}
                            </li>
                        </ul>
                        <div class = " col-xs-12 nopad details">

                            <a class = "btn btn-secondary pull-left"
                               href="https://eazyfin.co.za/Home/FinanceClient?companyId=116" target="_blank">Finance Application
                            </a>
                        </div>
                    </div>
                    <div class = "detailsbox">
                        <div class = "col-sm-6">
                            <h3> Description</h3>
                            <p class = "break"> {{car.description || 'Contact us for more information'}}</p>
                        </div>
                        <div class = "col-sm-6">
                            <h3> Extras:</h3>
                            <p class = "break"> {{car.extras_csv || 'Currently no extras listed.' }}</p>
                        </div>
                    </div>

<!--

                    <div class = "col-md-3 col-sm-6 col-xs-12 carbox"
                         ng-repeat = "car in vm.data | filter:filterprice | filter:body_type  | limitTo:5 | orderBy:'selling_price'"
                         ng-if = "car.stock_id != stock_id">
                        <div class = "borderbox">
                            <div class = "show_pic_similar">
                                <a class = "xtradetails"
                                   ng-click = "vm.detailsClick(car)">
                                    <i class = "fa fa-search"
                                       aria-hidden = "true"></i>
                                    <br>
                                    VIEW DETAILS
                                </a>
                                <img ng-src = "{{::car.url1}}"
                                     src = "../img/nopic.jpg">
                            </div>
                            <div>
                                <h4 class = "homeheading"> {{car.make}} {{car.variant}}</h4>
                                <div class = "price">
                                    <h3>{{car.selling_price | currency:"R":0 }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    -->
                </div>





                <div class = "col-sm-3 colorback"
                     ng-controller = "testDrive as vm">
                    <h2 class = "modalh2 rightheader">Vehicle Enquiry</h2>
                    <form id = "testdriveForm"
                          name = "testdriveForm"
                          novalidate
                          angular-validator>
                        <div class = "fb-text form-group field-name">
                            <label for = "name"
                                   class = "fb-text-label">
                                <span class = "required"
                                      ng-if = "testdriveForm.name.$error.required">*</span>
                            </label>
                            <input type = "text"
                                   data-ng-model = "vm.drive.name"
                                   placeholder = "Your Full Name"
                                   class = "form-control"
                                   name = "name"
                                   id = "name"
                                   ng-minlength = "3"
                                   validate-on = "dirty"
                                   required-message = "'This field is required..'"
                                   required>
                        </div>
                        <div class = "fb-text form-group field-number">
                            <label for = "number"
                                   class = "fb-text-label">
                                <span class = "required"
                                      ng-if = "testdriveForm.number.$error.required">*</span>
                            </label>
                            <input type = "number"
                                   data-ng-model = "vm.drive.number"
                                   placeholder = "Contact Number"
                                   class = "form-control"
                                   name = "number"
                                   id = "number"
                                   ng-minlength = "10"
                                   validate-on = "dirty"
                                   required-message = "'This field is required..'"
                                   invalid-message = "'Please enter at least 10 numbers..'"
                                   required>
                        </div>
                        <div class = "fb-email form-group field-email">
                            <label for = "email"
                                   class = "fb-email-label">
                                <span class = "required"
                                      ng-if = "testdriveForm.email.$error.required">*</span>
                            </label>
                            <input type = "email"
                                   data-ng-model = "vm.drive.email"
                                   placeholder = "Email"
                                   class = "form-control"
                                   name = "email"
                                   id = "email"
                                   validate-on = "dirty"
                                   required-message = "'This field is required..'"
                                   required>
                        </div>
                        <div class = "fb-undefined form-group field-message">
                            <label for = "message"
                                   class = "fb-textarea-label"></label>
                            <textarea type = "textarea"
                                      data-ng-model = "vm.drive.message"
                                      placeholder = "Message"
                                      class = "form-control"
                                      name = "message"
                                      id = "message"></textarea>
                        </div>
                        <!--HIDDEN FIELDS-->
                        <div class = "hidden">
                            <div class = "fb-text form-group field-company_id">
                                <input type = "text"
                                       data-ng-model = "vm.drive.company_id"
                                       class = "form-control"
                                       name = "company_id"
                                       id = "company_id"
                                       ng-init = "vm.drive.company_id=car.company_id"
                                       value = "{{car.company_id}}">
                            </div>
                            <div class = "fb-text form-group field-stock_id">
                                <input type = "text"
                                       data-ng-model = "vm.drive.stock_id"
                                       class = "form-control"
                                       name = "stock_id"
                                       id = "stock_id"
                                       ng-init = "vm.drive.stock_id=car.stock_id"
                                       value = "{{car.stock_id}}">
                            </div>
                            <div class = "fb-text form-group field-make">
                                <input type = "text"
                                       data-ng-model = "vm.drive.make"
                                       class = "form-control"
                                       name = "make"
                                       id = "make"
                                       ng-init = "vm.drive.make=car.make"
                                       value = "{{car.make}}">
                            </div>
                            <div class = "fb-text form-group field-variant">
                                <input type = "text"
                                       data-ng-model = "vm.drive.variant"
                                       class = "form-control"
                                       name = "variant"
                                       id = "variant"
                                       ng-init = "vm.drive.variant=car.variant"
                                       value = "{{car.variant}}">
                            </div>
                            <div class = "fb-text form-group field-year">
                                <input type = "text"
                                       data-ng-model = "vm.drive.year"
                                       class = "form-control"
                                       name = "year"
                                       id = "year"
                                       ng-init = "vm.drive.year=car.year"
                                       value = "{{car.year}}">
                            </div>
                            <div class = "fb-text form-group field-selling_price">
                                <input type = "text"
                                       data-ng-model = "vm.drive.selling_price"
                                       class = "form-control"
                                       name = "selling_price"
                                       id = "selling_price"
                                       ng-init = "vm.drive.selling_price=car.selling_price"
                                       value = "{{car.selling_price}}">
                            </div>
                        </div>
                        <div class = "fb-button form-group field-submit">
                            <button type = "button"
                                    data-ng-click = "vm.sendMail()"
                                    data-ng-disabled = "testdriveForm.$invalid"
                                    class = "button-input btn btn-primary"
                                    name = "submitbut2"
                                    id = "submitbut2"
                                    onclick = "this.disabled=true">
                                Submit
                            </button>
                        </div>
                    </form>
                    <span id = "mailsent">Thank you for contacting us. We will get back to you as soon as possible!</span>
                    <span id = "mailnotsent">Your request has NOT been sent</span>
                    <span id = "spinner"><i class = "fa fa-spinner fa-spin"
                                            aria-hidden = "true"></i> Your request is being processed</span>
                </div>
            </div>
        </div>
    </div>
</section>
<script type = "application/javascript">

    $(document).ready(function () {

        // reference for main items
        var slider          = $('#carslide');
        // reference for thumbnail items
        var thumbnailSlider = $('#carslidethumbs');
        //transition time in ms
        var duration        = 1000;

        // carousel function for main slider
        slider.owlCarousel({
            autoplay: false,
            loop: false,
            nav: true,
            navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
            dots: false,
            items: 1
        }).on('changed.owl.carousel', function (e) {
            //On change of main item to trigger thumbnail item
            thumbnailSlider.trigger('to.owl.carousel', [e.item.index, duration, true]);
        });

        // carousel function for thumbnail slider
        thumbnailSlider.owlCarousel({
            autoplay: false,
            loop: false,
            nav: true,
            margin: 2,
            dots: false,
            navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 4

                },
                1000: {
                    items: 4
                }
            }
        }).on('click', '.owl-item', function () {
            // On click of thumbnail items to trigger same main item
            slider.trigger('to.owl.carousel', [$(this).index(), duration, true]);

        }).on('changed.owl.carousel', function (e) {
            // On change of thumbnail item to trigger main item
            slider.trigger('to.owl.carousel', [e.item.index, duration, true]);
        });

        //These two are navigation for main items
        $('.slider-right').click(function () {
            slider.trigger('next.owl.carousel');
        });
        $('.slider-left').click(function () {
            slider.trigger('prev.owl.carousel');
        });
    });
</script>
<script>
    lightbox.option({
        'wrapAround': true,
        'showImageNumberLabel': false
    })
</script>



<update-title title = "Bay Motors | {{::car.make}} {{::car.variant}}"></update-title>
<update-meta name = "description"
             content = "We have many vehicles for you to buy"></update-meta>
<update-meta name = "keywords"
             content = "Bay Motors  {{::car.make}} {{::car.variant}} , car, secondhand, car dealership"></update-meta>
<update-meta property = "og:title"
             content = "Bay Motors | {{::car.make}} {{::car.variant}}"></update-meta>
<update-meta property = "og:description"
             content = "We have many vehicles for you to buy"></update-meta>

