<section>
    <div class = "row">
        <div class = "col-md-2">
            <div ng-include = '"templates/leftside.html"' ng-style = "right"></div>
        </div>
        <div class = "col-sm-8 contentback">
            <h1 class = "topheader">COMPLAINTS RESOLUTION POLICY</h1>
            <p>The Bluechipdealer Group recognizes an individual's right to make a complaint about its service, staff and conduct ,where that individual interests appeared to have been
               adversely and unjustly impacted by such services or conduct.</p>
            <p>Complaint Resolution options:</p>
            <h4>Local Resolution</h4>
            <p>The goal of local resolution is to address and resolve the problems as quickly and directly as possible. Local resolution involves a discussion with the owner of the member
               (dealership) in question. This is a prerequisite to the next step.</p>
            <h4>Bluechipdealer Group Resolution</h4>
            <p>The Bluechip Group Resolution committee is a neutral board, working within existing group policy and procedures to address and resolve disagreements informally. The goal is to
               achieve a fair and reasonable solution of the complaint that is satisfactory to all parties involved.</p>
            <h4>Rules of Complaint Resolution.</h4>
            <p>If a complaint has not been resolved through the local resolution process you may refer the complaint to the Bluechipdealer Resolution Board.</p>
            <p>All complaints must be submitted in writing to admin@bluechipdealers.co.za No telephonic complaint will be accommodated.
               Please set out the details of the complaint, including the background, the grounds of the complaint and the redress sought.</p>
            <p>On the receipt of the complaint the Bluechip Group Resolution Board office will:</p>
            <ul>
                <li>Register and acknowledge receipt of the complaint within 24 hours.</li>
                <li>Clarify the complainants issues, consulting with the complainant and other parties where necessary.</li>
                <li>Assess the most suitable method of dealing with the complaint.</li>
                <li>The Bluechip Group Resolution Board will try to resolve the complaint within 7 working days.</li>
                <li>Where it is not possible to resolve the complaint within the stated time frame, we will advise the complainant about the progress every third working day.</li>
                <li>Inform the complainant and respondent of the outcome and the action taken to resolve the complaint.</li>
            </ul>
            <h4>Referral to outside agencies</h4>
            <p>Any person at any time ,may make a complaint to an external agency such as the Motor Industries Ombudsman (www.miosa.co.za) or the National Consumer Tribunal.
               (www.thenct.org.za).
            </p>
        </div>
        <div class = "col-md-2">
            <div ng-include = '"templates/rightside.html"' ng-style = "right"></div>
        </div>
    </div>
</section>
