<div class = "container transbg nopad"
     ng-controller = "contactUs as vm">
    <div class = "col-md-6 nopad">
        <div class = "cDetails col-md-12 nopad cbg">
            <h3 class = "homehead nomargin">Store Details</h3>
            <div class = "contactspace">

                <div class="col-md-12 banner-button"><h3>Bay Motors</h3></div>
                <div class="col-md-6"><strong>Address</strong></div><div class="col-md-6">{{store.address1}}</div>
                <div class="col-md-6"><strong>Phone</strong></div><div class="col-md-6"><a href = "tel:{{store.tel1}}">{{store.tel1}}</a></div>
                <div class="col-md-6"><strong>Fax</strong></div><div class="col-md-6"><a href = "fax:{{store.fax1}}">{{store.fax1}}</a></div>
                <div class="col-md-6"><strong>Cell</strong></div><div class="col-md-6"> <a href = "tel:{{store.cell2}}">Pieter Kilian: {{store.cell2}}</a></div>
                <div class="col-md-6"><strong>Google Maps:</strong></div><div class="col-md-6"><a target="_blank" href = "{{store.mapLink}}">View Map</a></div>
                <div class="col-md-6"><strong>Mondays to Fridays</strong></div><div class="col-md-6">{{store.tradinghours.monFri}}</div>
                <div class="col-md-6"><strong>Saturday</strong></div><div class="col-md-6">{{store.tradinghours.sat}}</div>
                <div class="col-md-6"><strong>Sundays and Religious Holidays</strong></div><div class="col-md-6">{{store.tradinghours.sun}}</div>
              <div class="row"  style="clear: both;">
                <div class="col-md-6 "><strong>Public Holidays</strong></div><div class="col-md-6">{{store.tradinghours.pub}}</div>
              </div>

            </div>
        </div>
    </div>
    <div class = "col-md-6 pad10left">
        <div class = " col-md-12 nopad cbg">
            <h3 class = "homehead nomargin">Contact Form</h3>
            <div class = "contactspace">
                <form id = "contactForm"
                      name = "contactForm"
                      novalidate
                      angular-validator>
                    <div class = "fb-text form-group field-name col-md-6">
                        <label for = "name"
                               class = "fb-text-label"> <span class = "required"
                                                              ng-if = "contactForm.name.$error.required">*</span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.details.name"
                               required
                               placeholder = "Your Full Name"
                               class = "form-control"
                               name = "name"
                               id = "name"
                               ng-minlength = "3"
                               validate-on = "blur"
                               invalid-message = "'You need at least 3 letters..'"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-number  col-md-6">
                        <label for = "number"
                               class = "fb-text-label"> <span class = "required"
                                                              ng-if = "contactForm.number.$error.required">*</span>
                        </label>
                        <input type = "number"
                               data-ng-model = "vm.details.number"
                               required
                               placeholder = "Contact Number"
                               class = "form-control"
                               name = "number"
                               id = "number"
                               ng-minlength = "10"
                               validate-on = "blur"
                               invalid-message = "'You need at least 10 numbers...'"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-email form-group field-email">
                        <label for = "email"
                               class = "fb-email-label"> <span class = "required"
                                                               ng-if = "contactForm.email.$error.required">*</span>
                        </label>
                        <input type = "email"
                               data-ng-model = "vm.details.email"
                               required
                               placeholder = "Email"
                               class = "form-control"
                               name = "email"
                               id = "email"
                               validate-on = "dirty"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-undefined form-group field-message ">
                        <label for = "message"
                               class = "fb-textarea-label"></label>
                        <textarea type = "textarea"
                                  data-ng-model = "vm.details.message"
                                  placeholder = "Message"
                                  class = "form-control"
                                  name = "message"
                                  id = "message"></textarea>
                    </div>
                    <div class = "fb-button form-group field-submit">
                        <button type = "button"
                                data-ng-click = "vm.sendMail()"
                                data-ng-disabled = "contactForm.$invalid"
                                class = "button-input btn btn-primary"
                                name = "submit"
                                onclick = "this.disabled=true"
                                id = "submit">Submit
                        </button>
                    </div>
                </form>
                <span id = "mailsent">Thank you for contacting us. We will get back to you as soon as possible!</span>
                <span id = "mailnotsent">Your request has NOT been sent</span>
                <span id = "spinner"><i class = "fa fa-circle-o-notch fa-spin"
                                        aria-hidden = "true"></i> Your request is being processed</span>
            </div>
        </div>
    </div>
</div><br><!-- The element that will contain our Google Map. -->
<div class = "container nopad"> <!-- Google Map Settings --> <h3 class = "homehead nomargin">Location</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2776.603005281725!2d22.102555226386638!3d-34.14746653414435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dd6691b1c0bffe5%3A0x3f7f8c9d6fc4c17f!2sLangeberg+Mall!5e0!3m2!1sen!2sza!4v1552654391327" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe></div>
<style>
    ng-map {
        width: 100%;
        height: 350px;
    }
</style>





<update-title title = "Bay Motors | Contact us"></update-title>
<update-meta name = "description"
             content = "Contact us using our contact form. We would love to help you find your dream car."></update-meta>
<update-meta name = "keywords"
             content = "Contact Bay Motors Sales, vehicle trade ins"></update-meta>
<update-meta property = "og:title"
             content = "Bay Motors | Contact us"></update-meta>
<update-meta property = "og:description"
             content = "Contact us using our contact form. We would love to help you find your dream car."></update-meta>
