<section id="content" class="ng-scope">
    <div class="content container nopad">
        <div>
            <section id="finance-calculator-view" class="ng-scope" data-ng-controller="financeCalculator as vm">
                <style scoped="">
                    fieldset {
                        width: 100%;
                        border: #ddd 1px solid;
                        border-radius: 4px;
                        padding: 1em;
                    }
                    legend {
                        width:auto!important;
                    }

                    form fieldset:not(:last-of-type) {
                        margin-bottom: 1em;
                    }

                    label.result {
                        font-size: 100%;
                        text-decoration: underline;
                    }

                    header {
                        background: #333;
                    }

                    label {
                        vertical-align: middle;
                    }

                    fieldset.calculator span.first {
                        vertical-align: top;
                    }

                    .calculator br,
                    .extra-money br {
                        content: "A" !important;
                        display: block !important;
                        margin-bottom: 1em !important;
                    }

                    form {
                        margin: 0;
                    }

                    fieldset span.error {
                        color: red;
                    }

                    @media (min-width: 0) {
                        label {
                            text-align: left;
                        }

                        fieldset.calculator span label {
                            width: 100%;
                        }

                        fieldset.extra-money label {
                            width: 100%;
                        }
                    }

                    @media (min-width: 479px) {
                        fieldset.calculator > span {
                            width: 49%;
                            display: inline-block;
                        }
                    }

                    @media (min-width: 768px) {
                        label {
                            text-align: right;
                            padding-right: .5em;
                        }

                        #residualPercent {
                            margin-bottom: 1em;
                        }

                        fieldset.calculator span label {
                            width: 50%;
                        }

                        fieldset.extra-money label {
                            width: 50%;
                        }

                        fieldset.calculator label.residual {
                            text-align: left;
                            vertical-align: top;
                            width: 100%;
                        }
                    }
                </style>
                <section class="matter">
                    <div class="row">
                        <div class="widget wdark">
                            <div class="widget-content">
                                <form name="calculatorForm" class="ng-pristine ng-valid ng-valid-min ng-valid-required ng-valid-max">
                                  <!--<br>-->
                                    <h4>Calculator</h4>
                                    <fieldset class="calculator">
                                        <span class="first">


                                            <label for="typeOfBuyer">Are you purchasing as:</label>


                                            <span>
                                                <select id="typeOfBuyer" data-ng-model="vm.calculator.buyerType"
                                                        data-ng-options="type.text for type in vm.calculator.typesOfBuyer"
                                                        data-ng-change="vm.checkBuyerType();vm.calculate();"
                                                        class="  cc ng-pristine ng-untouched ng-valid">
                                                    <option value="0" label="an individual">an individual</option>
                                                    <option value="1" selected="selected" label="a car allowance buyer">a car allowance buyer</option>
                                                    <option value="2" label="a company">a company</option>
                                                </select>
                                            </span>


                                            <br>
                                            <label for="price">Vehicle Price:</label>
                                            <span>
                                                <input id="price" name="price" type="number" step="any" data-ng-model="vm.calculator.vehiclePrice"
                                                       data-ng-change="vm.calculate()" required="" min="0"
                                                       class="ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-required"></span>
                                            <span class="error ng-hide"
                                                  data-ng-show="calculatorForm.price.$dirty &amp;&amp; calculatorForm.price.$invalid"> <br>
                                                <small class="error ng-hide" data-ng-show="calculatorForm.price.$error.required">Vehicle Price must be a number.</small>
                                                <small class="error ng-hide"
                                                       data-ng-show="calculatorForm.price.$error.min">The price is too low.</small>
                                            </span>
                                            <br>
                                            <label for="deposit">Deposit:</label>
                                            <span>
                                                <input id="deposit" name="deposit" type="number" step="any" data-ng-model="vm.calculator.deposit"
                                                       data-ng-change="vm.calculate()" required="" min="0"
                                                       class="ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-required"></span> <span
                                                class="error ng-hide"
                                                data-ng-show="calculatorForm.deposit.$dirty &amp;&amp; calculatorForm.deposit.$invalid"><br><small
                                                class="error ng-hide"
                                                data-ng-show="calculatorForm.deposit.$error.required">Deposit must be a number.</small> <small
                                                class="error ng-hide" data-ng-show="calculatorForm.deposit.$error.min">The deposit is too low.</small></span><br><label
                                                for="tradeIn">Trade In:</label>
                                            <span>
                                                <input id="tradeIn" name="tradeIn" type="number" step="any" data-ng-model="vm.calculator.tradeIn"
                                                       data-ng-change="vm.calculate()" required="" min="0"
                                                       class="ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-required"></span>
                                            <span class="error ng-hide"
                                                  data-ng-show="calculatorForm.tradeIn.$dirty &amp;&amp; calculatorForm.tradeIn.$invalid"><br>
                                                <small class="error ng-hide" data-ng-show="calculatorForm.tradeIn.$error.required">Trade In must be a number.</small>
                                                <small class="error ng-hide"
                                                       data-ng-show="calculatorForm.tradeIn.$error.min">The trade in is too low.</small>
                                            </span>
                                            <br>
                                            <label class="result" for="totalLoanAmount">Total Loan Amount = R</label>
                                            <span>
                                                <input id="totalLoanAmount" type="number" step="any" data-ng-model="vm.calculator.totalLoanAmount"
                                                       readonly="" class="ng-pristine ng-untouched ng-valid"></span>
                                            <br>
                                        </span>
                                        <span>
                                            <label for="interestRate">Interest Rate (%):</label>
                                            <span>
                                               <select id="interestRate" data-ng-model="vm.calculator.interestRate"
                                                       data-ng-options="type for type in vm.calculator.interestRates"
                                                       data-ng-change="vm.calculate()"></select>
                                            </span>
                                            <br>
                                            <label class="residual">Residual (Either Percentage or Value):</label>
                                            <label for="residualPercent">%</label>
                                            <span>
                                                <input id="residualPercent" name="residualPercent" type="number" step="any"
                                                       data-ng-model="vm.calculator.residualPercent" data-ng-change="vm.calculate('percent');" min="0"
                                                       max="100" required=""
                                                       class="ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-max ng-valid-required">
                                                <span class="error ng-hide"
                                                      data-ng-show="calculatorForm.residualPercent.$dirty &amp;&amp; calculatorForm.residualPercent.$invalid"> <br>
                                                    <small class="error ng-hide" data-ng-show="calculatorForm.residualPercent.$error.required">Residual percent must be a number.</small>
                                                    <small class="error ng-hide" data-ng-show="calculatorForm.residualPercent.$error.min">The residual percent in is too low.</small>
                                                    <small class="error ng-hide" data-ng-show="calculatorForm.residualPercent.$error.max">The residual percent in is too high.</small>
                                                </span>
                                            </span>
                                            <label>or R</label>
                                            <span>
                                                <input type="number" step="any" name="residualCash" data-ng-model="vm.calculator.residualCash"
                                                       data-ng-change="vm.calculate('cash');" min="0" required=""
                                                       class="ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-required">
                                                <br>
                                                <span class="error ng-hide"
                                                      data-ng-show="calculatorForm.residualCash.$dirty &amp;&amp; calculatorForm.residualCash.$invalid">
                                                    <br>
                                                    <small class="error ng-hide" data-ng-show="calculatorForm.residualCash.$error.required">Residual cash must be a number.</small>
                                                    <small class="error ng-hide" data-ng-show="calculatorForm.residualCash.$error.min">The residual cash in is too low.</small>
                                                    <small class="error ng-hide" data-ng-show="calculatorForm.residualCash.$error.max">The residual cash in is too high.</small>
                                                </span>
                                            </span>
                                            <br>
                                            <label for="repaymentPeriod">Repayment Period (months):</label>
                                            <span>
                                                <select id="repaymentPeriod" data-ng-model="vm.calculator.repaymentPeriod"
                                                        data-ng-options="period for period in vm.calculator.repaymentPeriods"
                                                        data-ng-change="vm.calculate()" class="ng-pristine ng-untouched ng-valid">
                                                    <option value="0" label="6">6</option>
                                                    <option value="1" label="12">12</option>
                                                    <option value="2" label="24">24</option>
                                                    <option value="3" label="36">36</option>
                                                    <option value="4" label="42">42</option>
                                                    <option value="5" selected="selected" label="48">48</option>
                                                    <option value="6" label="54">54</option>
                                                    <option value="7" label="60">60</option>
                                                    <option value="8" label="72">72</option>
                                                </select>
                                            </span>
                                            <br>
                                            <label class="result" for="totalMonthlyInstallment">Total Monthly Installment = R</label>
                                            <span>
                                                <input id="totalMonthlyInstallment" type="number" step="any"
                                                       data-ng-model="vm.calculator.totalMonthlyInstallment" readonly=""
                                                       class="ng-pristine ng-untouched ng-valid">
                                            </span>
                                        </span>
                                    </fieldset>
                                    <h4>Save Extra Money</h4>
                                    <fieldset class="extra-money">
                                        <label for="payment">If you make an extra monthly payment of:</label>
                                        <input id="payment" name="payment" type="number" step="any" data-ng-model="vm.extraMoney.payment"
                                               data-ng-change="vm.calculate()" min="0" required=""
                                               class="ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-required">
                                        <span class="error ng-hide"
                                              data-ng-show="calculatorForm.payment.$dirty &amp;&amp; calculatorForm.payment.$invalid">
                                            <small class="error ng-hide" data-ng-show="calculatorForm.payment.$error.required">Payment must be a number.</small>
                                            <small class="error ng-hide" data-ng-show="calculatorForm.payment.$error.min">Payment is too low.</small>
                                        </span>
                                        <br>
                                        <label for="term">Your monthly term will be reduced to:</label>
                                        <input id="term" type="number" data-ng-model="vm.extraMoney.reducedTerm" readonly=""
                                               class="ng-pristine ng-untouched ng-valid">
                                        <br>
                                        <label class="result" for="save">You will save = R</label>
                                        <input id="save" type="number" data-ng-model="vm.extraMoney.save" readonly=""
                                               class="ng-pristine ng-untouched ng-valid">
                                    </fieldset>
                                </form>
                            </div>
                            <div class="widget-foot">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
</section>


<update-title title = "Bay Motors | Finance Calculator"></update-title>
<update-meta name = "description"
             content = "Use our Finance Calculator to create a payment plan suited to your budget."></update-meta>
<update-meta name = "keywords"
             content = "finance calculator, car finance calculator, secondhand, vehicle finance"></update-meta>
<update-meta property = "og:title"
             content = "Bay Motors | Finance Calculator"></update-meta>
<update-meta property = "og:description"
             content = "Use our Finance Calculator to create a payment plan suited to your budget."></update-meta>