<update-title title = "Bay Motors | Finance Application"></update-title>
<update-meta name = "description"
             content = "Use our EazyFin Finance Application to apply for finance."></update-meta>
<update-meta name = "keywords"
             content = "Bay Motors, car finance, secondhand, vehicle finance"></update-meta>
<update-meta property = "og:title"
             content = "Bay Motors | Finance Application"></update-meta>
<update-meta property = "og:description"
             content = "Use our EazyFin Finance Application to apply for finance."></update-meta>
<section>
    <div class = "container nopad">
        <h3 class = "homehead nomargin">Vehicle Finance</h3>
        <div class = "col-md-12 nopad">
            <iframe src="https://eazyfin.co.za/Home/FinanceClient?companyId=116" width="100%" height="900" frameBorder="0">Browser not compatible.</iframe>

            </div>
</section>
