<div ui-view = "dealer"></div>
<section>
    <div class = "row" ng-controller = "showRoomall as vm">
        <div class = "col-md-2">
            <div ng-include = '"templates/leftside.html"' ng-style = "left"></div>
        </div>
        <div class = "col-md-8 contentback">
            <h1 class = "topheader">Meet our Dealers</h1>
            <div class = "col">
                <h2 class = "topheader">Click on a province below to display dealers</h2>
                <div class = "panel-group" id = "accordion">
                    <div class = "panel panel-default">
                        <div class = "panel-heading">
                            <h4 data-toggle = "collapse" data-parent = "#accordion" href = "#collapse1" class = "panel-title expand">
                                <div class = "right-arrow pull-right">+</div>
                                <a>EASTERN CAPE</a>
                            </h4>
                        </div>
                        <div id = "collapse1" class = "panel-collapse collapse">
                            <div class = "panel-body">
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "dealer">View Vehicles</a></li>
                                            <li><a href = "http://a1auto1.co.za/#/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://a1auto1.co.za/#/contact" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/ec/A1Auto1.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "autohaus-pe">View Vehicles</a></li>
                                            <li><a href = "http://www.autohauspe.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "https://www.facebook.com/autohauspe/?ref=hl" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/ec/autohausPE.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "honda-autohaus-pe">View Vehicles</a></li>
                                            <li><a href = "http://hondape.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://hondape.co.za/1154-2/" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/ec/Honda-PE.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.kingcars.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://kingcars.co.za/Contact.aspx" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/ec/king-cars-cape-road.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.kingcars.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://kingcars.co.za/Contact.aspx" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/ec/king-cars-sydenham.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.kingcars.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://kingcars.co.za/Contact.aspx" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/ec/king-cars-william-moffet.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.logicpremiumvehicles.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.logicpremiumvehicles.co.za/location" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/ec/logic-premium.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "maritime">View Vehicles</a></li>
                                            <li><a href = "http://www.maritimemotors.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.maritimemotors.mercedes-benz.co.za/content/south-africa/retail-maritime/maritimemotors/en/desktop/passenger-cars.html"
                                                   target = "_blank">Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/ec/Maritime-Motors.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "panel panel-default">
                        <div class = "panel-heading">
                            <h4 data-toggle = "collapse" data-parent = "#accordion" href = "#collapse2" class = "panel-title expand">
                                <div class = "right-arrow pull-right">+</div>
                                <a>FREE STATE</a>
                            </h4>
                        </div>
                        <div id = "collapse2" class = "panel-collapse collapse">
                            <div class = "panel-body">
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "kia-bethlehem">View Vehicles</a></li>
                                            <li><a href = "http://www.kiamotors.co.za/index.aspx?id=1" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.kiamotors.co.za/content.aspx?id=8" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/fs/KIA-BETHLEHEM.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "kia-welkom">View Vehicles</a></li>
                                            <li><a href = "http://www.kiamotors.co.za/index.aspx?id=1" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.kiamotors.co.za/content.aspx?id=8" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/fs/KIA-WELKOM.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "panel panel-default">
                        <div class = "panel-heading">
                            <h4 data-toggle = "collapse" data-parent = "#accordion" href = "#collapse3" class = "panel-title expand">
                                <div class = "right-arrow pull-right">+</div>
                                <a>GAUTENG</a>
                            </h4>
                        </div>
                        <div id = "collapse3" class = "panel-collapse collapse">
                            <div class = "panel-body">
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.andrylouwmotors.co.za/default.asp" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.andrylouwmotors.co.za/contact/contact.asp" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/andry-louw-motors.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.autoworldsa.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.autoworldsa.co.za/?linkID=Contact.SouthAfrica" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/autoworld.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.autoeternity.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.autoeternity.co.za/index.php/contact-details" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/Auto-Eternity.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.autoi.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.autoi.co.za/contact-details/" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/auto-investments.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "boksburg-cars">View Vehicles</a></li>
                                            <li><a href = "http://www.boksburgcarsales.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.boksburgcarsales.co.za/contact-us/" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/boksburg-car-sales.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://brothersexecutiveauto-jhb.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://brothersexecutiveauto-jhb.co.za/contact/" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/brothers.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "carking3">View Vehicles</a></li>
                                            <li><a href = "http://www.carking3.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.carking3.co.za/contactus.html" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/carking3.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "chariot">View Vehicles</a></li>
                                            <li><a target = "_blank">Visit Website</a></li>
                                            <li><a target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/chariot-auto.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.globalautohaus.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.globalautohaus.co.za/contact-us/" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/global-autohaus.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "goldenera">View Vehicles</a></li>
                                            <li><a href = "http://goldenera.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://goldenera.co.za/location/" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/golden-era-motors.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.hermannelmotors.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.hermannelmotors.co.za/contact-us/" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/herman-nel-motors.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://integramotors.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://integramotors.co.za/index.php/contact-us" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/integra.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "juba">View Vehicles</a></li>
                                            <li><a href = "http://www.jubamotors.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.jubamotors.co.za/contactus.html" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/juba-motors.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.kilokor.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.kilokor.co.za/contact" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/kilokor.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "peter-james-motors">View Vehicles</a></li>
                                            <li><a href = "http://pcjgroup.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://pcjgroup.co.za/contact.aspx" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/peter-james-motor-group.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.primoexecutive.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.primoexecutive.co.za/edenvale-branch/" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/Primo-Executive-Cars.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://prowest.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://prowest.co.za/contact-us.aspx" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/prowest.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "remo-motors">View Vehicles</a></li>
                                            <li><a target = "_blank">Visit Website</a></li>
                                            <li><a target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/remo-motors.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "sapphire-auto">View Vehicles</a></li>
                                            <li><a href = "http://www.sapphire-auto.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.sapphire-auto.co.za/contact/" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/sapphire-auto.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.signature-motors.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.signature-motors.co.za/contact-us/" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/signature-motors.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "unversal-premium">View Vehicles</a></li>
                                            <li><a href = "http://www.universalauto.co.za/default.aspx" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.universalauto.co.za/contact.aspx" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/Universal.png">
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://westernautohaus.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://westernautohaus.co.za/contact-us/" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/gt/westernautohaus.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "panel panel-default">
                        <div class = "panel-heading">
                            <h4 data-toggle = "collapse" data-parent = "#accordion" href = "#collapse4" class = "panel-title expand">
                                <div class = "right-arrow pull-right">+</div>
                                <a>KWAZULU NATAL</a>
                            </h4>
                        </div>
                        <div id = "collapse4" class = "panel-collapse collapse">
                            <div class = "panel-body">
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "kia-portshepstone">View Vehicles</a></li>
                                            <li><a href = "http://www.kiamotors.co.za/index.aspx?id=1" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.kiamotors.co.za/content.aspx?id=8" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/kzn/KIA-PORT-SHEPSTONE.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "panel panel-default">
                        <div class = "panel-heading">
                            <h4 data-toggle = "collapse" data-parent = "#accordion" href = "#collapse5" class = "panel-title expand">
                                <div class = "right-arrow pull-right">+</div>
                                <a>NORTHERN CAPE</a>
                            </h4>
                        </div>
                        <div id = "collapse5" class = "panel-collapse collapse">
                            <div class = "panel-body">
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "kia-upington">View Vehicles</a></li>
                                            <li><a href = "http://www.kiamotors.co.za/index.aspx?id=1" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.kiamotors.co.za/content.aspx?id=8" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "/img/provincelogos/nc/KIA-UPINGTON.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "panel panel-default">
                        <div class = "panel-heading">
                            <h4 data-toggle = "collapse" data-parent = "#accordion" href = "#collapse6" class = "panel-title expand">
                                <div class = "right-arrow pull-right">+</div>
                                <a>WESTERN CAPE</a>
                            </h4>
                        </div>
                        <div id = "collapse6" class = "panel-collapse collapse">
                            <div class = "panel-body">
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://alpenautohaus.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.alpenautohaus.co.za/contact-us-form?CompanyId=266" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/alpen-autohaus.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.andregroenewaldmotors.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.andregroenewaldmotors.co.za/contact" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/andre-groenewald.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.autodynamic.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.autodynamic.co.za/contact" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/auto-dynamic.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.autoking.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.autoking.co.za/contact" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/auto-king-milnerton.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.autolink.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.autolink.co.za/contact" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/auto-link.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.autowest.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.autowest.co.za/contact-us" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/auto-west.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://cars4africa.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://cars4africa.co.za/contact-us-form?CompanyId=211" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/cars-4-africa.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://driving-force.co.za/#/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://driving-force.co.za/#/contact" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/Driving-Force-Logo.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://formulaautos.co.za/home" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://formulaautos.co.za/contact-us" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/formula-autos.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "honda-george">View Vehicles</a></li>
                                            <li><a href = "http://hondageorge.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://hondageorge.co.za/1154-2/" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/Honda-George.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.hyundaiworcester.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.hyundaiworcester.co.za/" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/hyundai-worcester.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.kingcars.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://kingcars.co.za/Contact.aspx" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/king-cars.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.motorworld.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.motorworld.co.za/Contact-Us" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/motorworld.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.nortiermotors.co.za/Index.aspx" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.nortiermotors.co.za/Pages/Contact.aspx" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/nortier-motors.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://bluechipdealers.co.za/WWW.PENGELLYAUTOS.CO.ZA" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.pengellyautos.co.za/contact-us" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/pengelly-autos-logo.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a ui-sref = "robbie-trip">View Vehicles</a></li>
                                            <li><a href = "http://www.robbietrippmotors.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.robbietrippmotors.co.za/cape-town/car-sales" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/robbie-tripp-motors.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://rothmansautos.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.rothmansautos.co.za/contact-us-form?CompanyId=20" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/rothmans.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://stevenjohnsoncars.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://stevenjohnsoncars.co.za/contact-us-form" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/steven-johnson-cars.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://wingfieldmotors.co.za/#/home" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://wingfieldmotors.co.za/#/contact" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/wingfield-motors-goodwood.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://www.wingfieldmotors.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://www.wingfieldmotors.co.za/contact-us/" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/wingfield-motors-kuilsriver.png"/>
                                </div>
                                <div class = "col-sm-2 col-xs-6">
                                    <div class = "provincedetails">
                                        <ul>
                                            <li><a href = "#">View Vehicles</a></li>
                                            <li><a href = "http://worcesternissan.co.za/" target = "_blank">Visit Website</a></li>
                                            <li><a href = "http://worcesternissan.co.za/contact-us-form?CompanyId=295" target = "_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                    <img src = "../img/provincelogos/wc/nissan-worcester.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "center"><h2>Interested in becoming a Blue Chip Dealer?</h2>
                    <a class = "btn btn-primary" href = "https://new-members.bluechipdealers.co.za/" target = "_blank">CLICK HERE</a></div>
            </div>
        </div>
        <div class = "col-md-2">
            <div ng-include = '"templates/rightside.html"' ng-style = "right"></div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $(".expand").on("click", function () {
            // $(this).next().slideToggle(200);
            $expand = $(this).find(">:first-child");

            if ($expand.text() == "+") {
                $expand.text("-");
            } else {
                $expand.text("+");
            }
        });
    });
</script>