<div ng-controller = "modalFinance as vm">
    <div class = "modal-header">
        <h4 class = "modal-title" id = "myModalLabel">
            <span class = "">Vehicle Finance for {{::car.make}} {{::car.variant}}</span>
        </h4>
        <button type = "button" class = "close" ng-click = "cancel()" aria-label = "Close">
            <span aria-hidden = "true">&times;</span>
        </button>
    </div>
    <div class = "modal-body">
        <form id = "finAppForm" name = "finAppForm" novalidate angular-validator>
            <div class = "fb-text form-group field-name col-md-6">
                <label for = "name" class = "fb-text-label">
                    <span class = "required" ng-if = "finAppForm.name.$error.required">*</span>
                </label>
                <input type = "text"
                       data-ng-model = "vm.modalFin.name"
                       placeholder = "Your Name"
                       class = "form-control"
                       name = "name"
                       id = "name"
                       ng-minlength = "3"
                       validate-on = "dirty"
                       required-message = "'This field is required..'"
                       required>
            </div>
            <div class = "fb-text form-group field-lastname col-md-6">
                <label for = "lastname" class = "fb-text-label">
                    <span class = "required" ng-if = "finAppForm.lastname.$error.required">*</span>
                </label>
                <input type = "text"
                       data-ng-model = "vm.modalFin.lastname"
                       placeholder = "Your Last Name"
                       class = "form-control"
                       name = "lastname"
                       id = "lastname"
                       ng-minlength = "3"
                       validate-on = "dirty"
                       required-message = "'This field is required..'"
                       required>
            </div>
            <div class = "fb-text form-group field-idnumber col-md-6">
                <label for = "idnumber" class = "fb-text-label">
                    <span class = "required" ng-if = "finAppForm.idnumber.$error.required">*</span>
                </label>
                <input type = "idnumber"
                       data-ng-model = "vm.modalFin.idnumber"
                       placeholder = "ID Number"
                       class = "form-control"
                       name = "idnumber"
                       id = "idnumber"
                       ng-minlength = "13"
                       validate-on = "dirty"
                       required-message = "'This field is required..'"
                       invalid-message = "'Please enter 13 digits..'"
                       required>
            </div>
            <div class = "fb-text form-group field-number col-md-6">
                <label for = "number" class = "fb-text-label">
                    <span class = "required" ng-if = "finAppForm.number.$error.required">*</span>
                </label>
                <input type = "number"
                       data-ng-model = "vm.modalFin.number"
                       placeholder = "Contact Number"
                       class = "form-control"
                       name = "number"
                       id = "number"
                       ng-minlength = "10"
                       validate-on = "dirty"
                       required-message = "'This field is required..'"
                       invalid-message = "'Please enter at least 10 numbers..'"
                       required>
            </div>
            <div class = "fb-email form-group field-email">
                <label for = "email" class = "fb-email-label">
                    <span class = "required" ng-if = "finAppForm.email.$error.required">*</span>
                </label>
                <input type = "email"
                       data-ng-model = "vm.modalFin.email"
                       placeholder = "Email"
                       class = "form-control"
                       name = "email"
                       id = "email"
                       validate-on = "dirty"
                       required-message = "'This field is required..'"
                       required>
            </div>
            <div class = "fb-undefined form-group field-message">
                <textarea type = "textarea" data-ng-model = "vm.modalFin.message" placeholder = "Additional Information" class = "form-control" name = "message" id = "message"></textarea>
            </div>
            <div class = "fb-checkbox form-group field-permission">
                <label class = "fb-checkbox-label active">
                    <input type = "checkbox"
                           aria-valuetext = "Yes"
                           id = "permission"
                           ng-model = "vm.modalFin.permission"
                           name = "permission"
                           value = "Yes, I hereby give permission for NCR credit check"
                           checked = "checked">
                    I hereby give permission for NCR credit check
                </label>
            </div>
            <div class = "fb-checkbox form-group field-deposit">
                <label class = "fb-checkbox-label">
                    <input type = "checkbox"
                           id = "deposit"
                           ng-model = "vm.modalFin.deposit"
                           name = "deposit"
                           value = "Yes">
                    Deposit?
                </label>
                <input type = "text"
                       id = "depositprice"
                       ng-show = "vm.modalFin.deposit"
                       ng-model = "vm.modalFin.depositprice"
                       name = "depositprice"
                       placeholder = "Amount">
            </div>
            <div class = "fb-checkbox form-group field-tradein">
                <label class = "fb-checkbox-label">
                    <input type = "checkbox"
                           id = "tradein"
                           ng-model = "vm.modalFin.tradein"
                           name = "tradein"
                           value = "Yes">
                    Trade In?
                </label>
                <textarea
                        id = "tradeindetails"
                        ng-show = "vm.modalFin.tradein"
                        ng-model = "vm.modalFin.tradeindetails"
                        name = "deposit"
                        placeholder = "Trade In Vehicle Details">
                </textarea>
            </div>
            <!--HIDDEN FIELDS-->
            <!-- -------------------------------------------------------------------------------- -->
            <div>
                <h3>Vehicle applying for:</h3>
                <div class = "fb-text form-group field-companyid hidden">
                    <label for = "companyid" class = "fb-text-label "></label>
                    <input type = "text"
                           data-ng-model = "vm.modalFin.companyid"
                           class = "form-control"
                           name = "companyid"
                           id = "companyid"
                           ng-init = "vm.modalFin.companyid=car.company_id"
                           value = "{{car.company_id || 'Select vehicle again'}}">
                </div>
                <div class = "fb-text form-group field-carid hidden">
                    <label for = "carid" class = "fb-text-label"></label>
                    <input type = "text"
                           data-ng-model = "vm.modalFin.carid"
                           class = "form-control"
                           name = "carid"
                           id = "carid"
                           ng-init = "vm.modalFin.carid=car.stock_id"
                           value = "{{car.stock_id}}">
                </div>
                <div class = "fb-text form-group field-make col-md-6">
                    <label for = "make" class = "fb-text-label">Make</label>
                    <input type = "text"
                           data-ng-model = "vm.modalFin.make"
                           class = "form-control"
                           name = "make"
                           id = "make"
                           readonly
                           ng-init = "vm.modalFin.make=car.make"
                           value = "{{car.make || 'Select vehicle again'}}">
                </div>
                <div class = "fb-text form-group field-variant col-md-6">
                    <label for = "variant" class = "fb-text-label">Model</label>
                    <input type = "text"
                           data-ng-model = "vm.modalFin.variant"
                           class = "form-control"
                           name = "variant"
                           id = "variant"
                           readonly
                           ng-init = "vm.modalFin.variant=car.variant"
                           value = "{{car.variant}}">
                </div>
                <div class = "fb-text form-group field-year col-md-6">
                    <label for = "year" class = "fb-text-label">Year</label>
                    <input type = "text"
                           data-ng-model = "vm.modalFin.year"
                           class = "form-control"
                           name = "year"
                           id = "year"
                           readonly
                           ng-init = "vm.modalFin.year=car.year"
                           value = "{{car.year}}">
                </div>
                <div class = "fb-text form-group field-selling_price col-md-6">
                    <label for = "selling_price" class = "fb-text-label">Selling Price</label>
                    <input type = "text"
                           data-ng-model = "vm.modalFin.selling_price"
                           class = "form-control"
                           name = "selling_price"
                           id = "selling_price"
                           readonly
                           ng-init = "vm.modalFin.selling_price=car.selling_price"
                           value = "{{car.selling_price}}">
                </div>
            </div>
            <div class = "fb-button form-group field-submit">
                <button type = "button"
                        data-ng-click = "vm.sendMail()"
                        data-ng-disabled = "finAppForm.$invalid"
                        class = "button-input btn btn-primary"
                        name = "submitbut2"
                        id = "submitbut2"> Submit
                </button>
            </div>
        </form>
        <span id = "mailsent">Thank you for contacting us. We will get back to you as soon as possible!</span>
        <span id = "mailnotsent">Your request has NOT been sent</span>
        <span id = "spinner"><i class = "fa fa-spinner fa-spin" aria-hidden = "true"></i> Your request is being processed</span>
    </div>
</div>