<section data-ng-controller="modalDetails as vm">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><span class=""> {{car.make}} {{car.variant}}</span></h4>
        <button type="button" class="close" ng-click="cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-6">
            <div class="modalslider">
                <div class="slidercontrainer">
                    <ul class="sliderwrapper" dir="rtl">
                        <li id="sl15" class="slideritem">
                            <a href="{{car.url15}}" data-lightbox="gallerybig" data-title="{{car.make}}, {{car.variant}}">
                                <img ng-src="{{car.url15}}" onerror="this.style.display='none'"></a></li>
                        <li id="sl14" class="slideritem">
                            <a href="{{car.url14}}" data-lightbox="gallerybig" data-title="{{car.make}}, {{car.variant}}">
                                <img ng-src="{{car.url14}}" onerror="this.style.display='none'"></a></li>
                        <li id="sl13" class="slideritem">
                            <a href="{{car.url13}}" data-lightbox="gallerybig" data-title="{{car.make}}, {{car.variant}}">
                                <img ng-src="{{car.url13}}" onerror="this.style.display='none'"></a></li>
                        <li id="sl12" class="slideritem">
                            <a href="{{car.url12}}" data-lightbox="gallerybig" data-title="{{car.make}}, {{car.variant}}">
                                <img ng-src="{{car.url12}}" onerror="this.style.display='none'"></a></li>
                        <li id="sl11" class="slideritem">
                            <a href="{{car.url11}}" data-lightbox="gallerybig" data-title="{{car.make}}, {{car.variant}}">
                                <img ng-src="{{car.url11}}" onerror="this.style.display='none'"></a></li>
                        <li id="sl10" class="slideritem">
                            <a href="{{car.url10}}" data-lightbox="gallerybig" data-title="{{car.make}}, {{car.variant}}">
                                <img ng-src="{{car.url10}}" onerror="this.style.display='none'"></a></li>
                        <li id="sl9" class="slideritem">
                            <a href="{{car.url9}}" data-lightbox="gallerybig" data-title="{{car.make}}, {{car.variant}}">
                                <img ng-src="{{car.url9}}" onerror="this.style.display='none'"></a></li>
                        <li id="sl8" class="slideritem">
                            <a href="{{car.url8}}" data-lightbox="gallerybig" data-title="{{car.make}}, {{car.variant}}">
                                <img ng-src="{{car.url8}}" onerror="this.style.display='none'"></a></li>
                        <li id="sl7" class="slideritem">
                            <a href="{{car.url7}}" data-lightbox="gallerybig" data-title="{{car.make}}, {{car.variant}}">
                                <img ng-src="{{car.url7}}" onerror="this.style.display='none'"></a></li>
                        <li id="sl6" class="slideritem">
                            <a href="{{car.url6}}" data-lightbox="gallerybig" data-title="{{car.make}}, {{car.variant}}">
                                <img ng-src="{{car.url6}}" onerror="this.style.display='none'"></a></li>
                        <li id="sl5" class="slideritem">
                            <a href="{{car.url5}}" data-lightbox="gallerybig" data-title="{{car.make}}, {{car.variant}}">
                                <img ng-src="{{car.url5}}" onerror="this.style.display='none'"></a></li>
                        <li id="sl4" class="slideritem">
                            <a href="{{car.url4}}" data-lightbox="gallerybig" data-title="{{car.make}}, {{car.variant}}">
                                <img ng-src="{{car.url4}}" onerror="this.style.display='none'"></a></li>
                        <li id="sl3" class="slideritem">
                            <a href="{{car.url3}}" data-lightbox="gallerybig" data-title="{{car.make}}, {{car.variant}}">
                                <img ng-src="{{car.url3}}" onerror="this.style.display='none'"></a></li>
                        <li id="sl2" class="slideritem">
                            <a href="{{car.url2}}" data-lightbox="gallerybig" data-title="{{car.make}}, {{car.variant}}">
                                <img ng-src="{{car.url2}}" onerror="this.style.display='none'"></a></li>
                        <li id="sl1" class="slideritem">
                            <a href="{{car.url1}}" data-lightbox="gallerybig" data-title="{{car.make}}, {{car.variant}}">
                                <div class="modalgallery"><!-- HOVER on main image -->
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                                <img ng-src="{{car.url1}}" onerror="this.src='../img/nopic.png';"></a></li>
                    </ul>
                </div>
                <ul class="sliderthumps" id="style-5">
                    <li id="th1" class="sliderthumpsitem">
                        <a href="{{car.url1}}" data-lightbox="gallerysmall" data-title="{{car.make}}, {{car.variant}}">
                            <img ng-src="{{car.url1}}" onerror="this.parentNode.style.display='none'"></a></li>
                    <li id="th2" class="sliderthumpsitem">
                        <a href="{{car.url2}}" data-lightbox="gallerysmall" data-title="{{car.make}}, {{car.variant}}">
                            <img ng-src="{{car.url2}}" onerror="this.parentNode.style.display='none'"></a></li>
                    <li id="th3" class="sliderthumpsitem">
                        <a href="{{car.url3}}" data-lightbox="gallerysmall" data-title="{{car.make}}, {{car.variant}}">
                            <img ng-src="{{car.url3}}" onerror="this.parentNode.style.display='none'"></a></li>
                    <li id="th4" class="sliderthumpsitem">
                        <a href="{{car.url4}}" data-lightbox="gallerysmall" data-title="{{car.make}}, {{car.variant}}">
                            <img ng-src="{{car.url4}}" onerror="this.parentNode.style.display='none'"></a></li>
                    <li id="th5" class="sliderthumpsitem">
                        <a href="{{car.url5}}" data-lightbox="gallerysmall" data-title="{{car.make}}, {{car.variant}}">
                            <img ng-src="{{car.url5}}" onerror="this.parentNode.style.display='none'"></a></li>
                    <li id="th6" class="sliderthumpsitem">
                        <a href="{{car.url6}}" data-lightbox="gallerysmall" data-title="{{car.make}}, {{car.variant}}">
                            <img ng-src="{{car.url6}}" onerror="this.parentNode.style.display='none'"></a></li>
                    <li id="th7" class="sliderthumpsitem">
                        <a href="{{car.url7}}" data-lightbox="gallerysmall" data-title="{{car.make}}, {{car.variant}}">
                            <img ng-src="{{car.url7}}" onerror="this.parentNode.style.display='none'"></a></li>
                    <li id="th8" class="sliderthumpsitem">
                        <a href="{{car.url8}}" data-lightbox="gallerysmall" data-title="{{car.make}}, {{car.variant}}">
                            <img ng-src="{{car.url8}}" onerror="this.parentNode.style.display='none'"></a></li>
                    <li id="th9" class="sliderthumpsitem">
                        <a href="{{car.url9}}" data-lightbox="gallerysmall" data-title="{{car.make}}, {{car.variant}}">
                            <img ng-src="{{car.url9}}" onerror="this.parentNode.style.display='none'"></a></li>
                    <li id="th10" class="sliderthumpsitem">
                        <a href="{{car.url10}}" data-lightbox="gallerysmall" data-title="{{car.make}}, {{car.variant}}">
                            <img ng-src="{{car.url10}}" onerror="this.parentNode.style.display='none'"></a></li>
                    <li id="th11" class="sliderthumpsitem">
                        <a href="{{car.url11}}" data-lightbox="gallerysmall" data-title="{{car.make}}, {{car.variant}}">
                            <img ng-src="{{car.url11}}" onerror="this.parentNode.style.display='none'"></a></li>
                    <li id="th12" class="sliderthumpsitem">
                        <a href="{{car.url12}}" data-lightbox="gallerysmall" data-title="{{car.make}}, {{car.variant}}">
                            <img ng-src="{{car.url12}}" onerror="this.parentNode.style.display='none'"></a></li>
                    <li id="th13" class="sliderthumpsitem">
                        <a href="{{car.url13}}" data-lightbox="gallerysmall" data-title="{{car.make}}, {{car.variant}}">
                            <img ng-src="{{car.url13}}" onerror="this.parentNode.style.display='none'"></a></li>
                    <li id="th14" class="sliderthumpsitem">
                        <a href="{{car.url14}}" data-lightbox="gallerysmall" data-title="{{car.make}}, {{car.variant}}">
                            <img ng-src="{{car.url14}}" onerror="this.parentNode.style.display='none'"></a></li>
                    <li id="th15" class="sliderthumpsitem">
                        <a href="{{car.url15}}" data-lightbox="gallerysmall" data-title="{{car.make}}, {{car.variant}}">
                            <img ng-src="{{car.url15}}" onerror="this.parentNode.style.display='none'"></a></li>
                </ul>
            </div>
            </div>
        <div class="col-md-6">
            <h2 class="modalh2">{{car.selling_price | currency: "R" || 'Contact us for price' }}</h2>
            <ul class="details">
                <li class="col-md-6">
                    <strong>Year: </strong>{{car.year}}
                </li>
                <li class="col-md-6">
                    <strong>Milage: </strong>{{car.mileage || '0' | number }} Km
                </li>
                <li class="col-md-6">
                    <strong>Colour: </strong>{{car.colour}}
                </li>
                <li class="col-md-6">
                    <strong>Condition: </strong>{{car.condition}}
                </li>
                <li class="col-md-6">
                    <strong>Branch: </strong>{{car.branch}}
                </li>
            </ul>
            <h3> Extras:</h3>
            <p class="break"> {{car.extras_csv || 'Currently no extras listed.' }}</p>
            <h3> Description</h3>
            <p class="break"> {{car.description || 'Contact us for more information'}}</p>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-secondary" ng-click="vm.contactListClick(car)">Vehicle Enquiry</a>
        <a class="btn btn-secondary" ng-click="vm.financeListClick(car)"> Apply for finance </a>
        <a class="btn btn-secondary" ng-click="cancel()">Close </a>
    </div>
</section>

