<section>
    <div class = "row">
        <div class = "container">
            <h1 class = "topheader">PRIVACY POLICY</h1>
            <p>If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at info@fantasycars.com.</p>
            <p>At FantasyCars, the privacy of our visitors is of extreme importance to us. This privacy policy document outlines the types of personal information is received and collected
               by FantasyCars and how it is used.</p>
            <h3>Log Files</h3>
            <p>Like many other Web sites, FantasyCars makes use of log files. The information inside the log files includes internet protocol ( IP ) addresses, type of browser, Internet
               Service Provider ( ISP ), date/time stamp, referring/exit pages, and number of clicks to analyze trends, administer the site, track user’s movement around the site, and gather
               demographic information. IP addresses, and other such information are not linked to any information that is personally identifiable.</p>
            <h3>Cookies and Web Beacons</h3>
            <p>FantasyCars does use cookies to store information about visitors preferences, record user-specific information on which pages the user access or visit, customize Web page
               content based on visitors browser type or other information that the visitor sends via their browser.</p>
            <p>Some of our advertising partners may use cookies and web beacons on our site.</p>
            <p> These third-party ad servers or ad networks use technology to the advertisements and links that appear on FantasyCars send directly to your browsers. They automatically
                receive your IP address when this occurs. Other technologies ( such as cookies, JavaScript, or Web Beacons ) may also be used by the third-party ad networks to measure the
                effectiveness of their advertisements and / or to personalize the advertising content that you see.</p>
            <p> FantasyCars has no access to or control over these cookies that are used by third-party advertisers.</p>
            <p> You should consult the respective privacy policies of these third-party ad servers for more detailed information on their practices as well as for instructions about how to
                opt-out of certain practices. FantasyCars's privacy policy does not apply to, and we cannot control the activities of, such other advertisers or web sites.</p>
            <p> If you wish to disable cookies, you may do so through your individual browser options. More detailed information about cookie management with specific web browsers can be
                found at the browsers' respective websites.</p>
        </div>
    </div>
</section>
