<div class = "row"
     id = "trade-in-view"
     data-ng-controller = "tradeIn as vm">
    <div class = "tradein">
        <div class = "container nopad">
            <form name = "tradeInForm"
                  id = "tradeInForm"
                  novalidate
                  angular-validator
                  flow-init = "{target: '/img', testChunks:false}"
                  flow-name = "vm.flow"
                  flow-files-submitted = "$flow.upload()"
                  flow-image-resize
                  flow-file-added = "!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                  flow-file-success = "$file.msg = $message">
                <h3 class = "homehead nomargin">Trade In
                    <span class = "pull-right smallertext hidden-sm hidden-xs"> We Offer the Best Prices For Your Vehicle</span>
                </h3>
                <div class = "container ">
                    <br>
                    <fieldset class = "calculator">
                        <legend>Car Information</legend>
                        <div class = "fb-text form-group field-name col-md-6">
                            <label for = "make"
                                   class = "fb-text-label">
                                <span class = "required"
                                      ng-if = "tradeInForm.make.$error.required">*</span>
                            </label>
                            <input type = "text"
                                   required
                                   class = "form-control"
                                   id = "make"
                                   name = "make"
                                   data-ng-model = "vm.details.make"
                                   ng-minlength = "3"
                                   validate-on = "dirty"
                                   invalid-message = "'You need at least 3 letters..'"
                                   required-message = "'This field is required..'"
                                   placeholder = "Vehicle Make"/>
                        </div>
                        <div class = "fb-text form-group field-name col-md-6">
                            <label for = "model"
                                   class = "fb-text-label">
                                <span class = "required"
                                      ng-if = "tradeInForm.model.$error.required">*</span>
                            </label>
                            <input type = "text"
                                   id = "model"
                                   name = "model"
                                   required
                                   data-ng-model = "vm.details.model"
                                   ng-minlength = "3"
                                   class = "form-control"
                                   validate-on = "dirty"
                                   invalid-message = "'You need at least 3 letters..'"
                                   required-message = "'This field is required..'"
                                   placeholder = "Vehicle Model"/>
                        </div>
                        <div class = "fb-text form-group field-name col-md-6">
                            <label for = "year"
                                   class = "fb-text-label">
                                <span class = "required"
                                      ng-if = "tradeInForm.year.$error.required">*</span>
                            </label>
                            <input type = "number"
                                   id = "year"
                                   name = "year"
                                   required
                                   ng-minlength = "4"
                                   data-ng-model = "vm.details.year"
                                   data-ng-maxlength = "4"
                                   class = "form-control"
                                   validate-on = "dirty"
                                   invalid-message = "'You need at least 4 numbers..'"
                                   required-message = "'This field is required..'"
                                   placeholder = "Year of Vehicle Manufacture"/>
                        </div>
                        <div class = "fb-text form-group field-name col-md-6">
                            <label for = "mileage"
                                   class = "fb-text-label">
                                <span class = "required"
                                      ng-if = "tradeInForm.mileage.$error.required">*</span>
                            </label>
                            <input type = "text"
                                   id = "mileage"
                                   name = "mileage"
                                   data-ng-model = "vm.details.mileage"
                                   data-ng-maxlength = "20"
                                   class = "form-control"
                                   required
                                   validate-on = "dirty"
                                   invalid-message = "'You need at least 4 numbers..'"
                                   required-message = "'This field is required..'"
                                   placeholder = "Vehicle Mileage in Kilometers"/>
                        </div>
                        <div class = "fb-text form-group field-name col-md-6">
                            <label for = "price"
                                   class = "fb-text-label">
                                <span class = "required"
                                      ng-if = "tradeInForm.price.$error.required">*</span>
                            </label>
                            <input type = "number"
                                   id = "price"
                                   name = "price"
                                   data-ng-model = "vm.details.price"
                                   data-ng-maxlength = "20"
                                   class = "form-control"
                                   required
                                   validate-on = "dirty"
                                   invalid-message = "'You need at least 4 numbers..'"
                                   required-message = "'This field is required..'"
                                   placeholder = "Asking Price"/>
                        </div>
                        <div class = "fb-text form-group field-name col-md-6">
                            <label for = "colour"
                                   class = "fb-text-label">
                                <span class = "required"
                                      ng-if = "tradeInForm.colour.$error.required">*</span>
                            </label>
                            <input type = "text"
                                   id = "colour"
                                   name = "colour"
                                   data-ng-model = "vm.details.colour"
                                   data-ng-maxlength = "20"
                                   class = "form-control"
                                   required
                                   validate-on = "dirty"
                                   invalid-message = "'You need at least 4 letters..'"
                                   required-message = "'This field is required..'"
                                   placeholder = "Colour"/>
                        </div>
                    </fieldset>
                    <br>
                    <fieldset class = "calculator">
                        <legend>Contact Information</legend>
                        <div class = "fb-text form-group field-name col-md-6">
                            <label for = "name"
                                   class = "fb-text-label">
                                <span class = "required"
                                      ng-if = "tradeInForm.name.$error.required">*</span>
                            </label>
                            <input type = "text"
                                   id = "name"
                                   name = "name"
                                   data-ng-model = "vm.details.name"
                                   ng-minlength = "3"
                                   class = "form-control"
                                   placeholder = "Your First Name"
                                   validate-on = "dirty"
                                   invalid-message = "'You need at least 3 letters..'"
                                   required-message = "'This field is required..'"
                                   required/>
                        </div>
                        <div class = "fb-text form-group field-name col-md-6">
                            <label for = "lastName"
                                   class = "fb-text-label">
                                <span class = "required"
                                      ng-if = "tradeInForm.lastName.$error.required">*</span>
                            </label>
                            <input type = "text"
                                   id = "lastName"
                                   name = "lastName"
                                   data-ng-model = "vm.details.lastName"
                                   ng-minlength = "3"
                                   class = "form-control"
                                   validate-on = "dirty"
                                   invalid-message = "'You need at least 3 letters..'"
                                   required-message = "'This field is required..'"
                                   placeholder = "Your Last Name"
                                   required/>
                        </div>
                        <div class = "fb-text form-group field-name col-md-6">
                            <label for = "phoneNumber"
                                   class = "fb-text-label">
                                <span class = "required"
                                      ng-if = "tradeInForm.phoneNumber.$error.required">*</span>
                            </label>
                            <input type = "number"
                                   id = "phoneNumber"
                                   name = "phoneNumber"
                                   data-ng-model = "vm.details.phoneNumber"
                                   ng-minlength = "10"
                                   class = "form-control"
                                   validate-on = "dirty"
                                   invalid-message = "'You need at least 10 numbers..'"
                                   required-message = "'This field is required..'"
                                   placeholder = "Your Telephone Number"
                                   required/>
                        </div>
                        <div class = "fb-text form-group field-name col-md-6">
                            <label for = "email"
                                   class = "fb-text-label">
                                <span class = "required"
                                      ng-if = "tradeInForm.email.$error.required">*</span>
                            </label>
                            <input type = "email"
                                   id = "email"
                                   name = "email"
                                   data-ng-model = "vm.details.email"
                                   validate-on = "dirty"
                                   required-message = "'Please enter a valid email..'"
                                   class = "form-control"
                                   placeholder = "your@email.com"
                                   required/>
                        </div>
                    </fieldset>
                    <br>
                    <fieldset class = "calculator">
                        <legend>Vehicle Description</legend>
                        <div class = "fb-text form-group field-name">
                                <textarea id = "comments"
                                          class = "form-control"
                                          data-ng-model = "vm.details.comments"
                                          placeholder = "Optional decription of vehicle">
                                                                    </textarea>
                        </div>
                    </fieldset>
                    <div class = "row">
                        <h3>Upload Images (max 3 MB)</h3>
                        <div flow-drag-enter = "style={border: '1px solid green'}"
                             flow-drag-leave = "style={}"
                             flow-drop
                             ng-style = "style"
                             class = "droplet"></div>
                        <div class = "col-xs-12 label label-info text-left-label nopadleft">
                            Total size: {{vm.totalFileSize($flow)| byteFmt: 2 || '0' }}
                            <div class = ""
                                 ng-if = "vm.totalFileSize($flow) >= 3145728">
                                <span class = "photowarning"><p> Your total image size exceeds 3MB .</p><p>Please remove some or decrease the image size</p>
                            </div>
                            </span>
                        </div>
                        <div class = "col-xs-12 nopad">
                <span class = "btn btn-upload btn-primary"
                      flow-btn
                      flow-attrs = "{'accept': 'image/*'}">Select Images
                    		</span>
                            <span class = "btn btn-primary"
                                  flow-btn
                                  flow-directory
                                  ng-show = "$flow.supportDirectory">
                                Upload a directory of images
                            </span>
                        </div>
                    </div>
                    <div class = "row">
                        <h3>Your Images</h3>
                        <div id = "image-files"
                             ng-repeat = "file in $flow.files"
                             class = "col-sm-2 nopadleft">
                            <span class = "title ng-binding">{{file.name}}</span>
                            <div class = "thumbnail"
                                 ng-show = "$flow.files.length">
                                <img my-flow-img = "file"
                                     alt = "{{file.name}}"/>
                            </div>
                            <div class = "progress progress-striped"
                                 ng-class = "{active: file.isUploading()}">
                                <div style = "width: 100%;"
                                     class = "progress-bar"
                                     role = "progressbar"
                                     aria-valuenow = "100"
                                     aria-valuemin = "0"
                                     aria-valuemax = "100"
                                     ng-style = "{width: (file.progress() * 100) + '%'}">
                                    <span class = "sr-only ng-binding">1% Complete</span>
                                </div>
                            </div>
                            <div>{{file.size | byteFmt: 2 || '0'}} bytes</div>
                            <div class = "btn-group">
                                <a class = "btn btn-xs btn-danger"
                                   ng-click = "file.cancel()">
                                    Remove
                                </a>
                            </div>
                        </div>
                        <div class = "clear"></div>
                    </div>
                    <div class = "row"><p>&nbsp;</p>
                        <button class = "btn btn-primary "
                                id = "submit"
                                onclick = "this.disabled=true"
                                data-ng-click = "vm.sendEmail()"
                                data-ng-disabled = "tradeInForm.$invalid || vm.totalFileSize($flow) >= 3145728">
                            Submit
                        </button>
                    </div>
            </form>
            <span id = "spinner"><i class = "fa fa-spinner fa-spin"
                                    aria-hidden = "true"></i> Your request is being processed</span>
        </div>
    </div>
</div>
<update-title title = "Bay Motors | Trade In or Sell"></update-title>
<update-meta name = "description"
             content = "Trade in your car by filling out our easy to use form."></update-meta>
<update-meta name = "keywords"
             content = "Trade In or Sell Your Car, vehicle trade ins"></update-meta>
<update-meta property = "og:title"
             content = "Bay Motors | Trade In or Sell"></update-meta>
<update-meta property = "og:description"
             content = "Trade in your car by filling out our easy to use form."></update-meta>