<div ui-view = "enquire"></div>
<div ui-view = "financecar"></div>
<section ng-controller = "showRoomall as vm"
         class = "homecontainer"
         id = "hometop">
    <div class = "row">
        <div class = "grad">
            <div class = "container">
                <div class = "col-md-3 center-block filterblock"
                     id = "searchcar">
                    <h4 class="black">Search for a Vehicle</h4>
                    <form id = "filters"
                          name = "filters">
                        <div class = "row">
                            <div class = "formgroup col-md-3">
                                <select ng-options = "car.make for car in vm.makeData | unique:'make' | orderBy: 'make'"
                                        ng-model = "selectedMake"
                                        ng-change = "selectChangedMake()">
                                    <option value = "">-- MAKE --</option>
                                </select>
                            </div>
                            <div class = "formgroup col-md-3">
                                <select ng-options = "car.series for car in vm.seriesData | unique:'series' | orderBy: 'series'"
                                        ng-model = "selectedSeries"
                                        ng-change = "selectChangedSeries()">
                                    <option value = "">-- SERIES --</option>
                                </select>
                            </div>
                            <div class = "formgroup col-md-3">
                                <select ng-options = "car.body_type for car in vm.bodytypeData | unique:'body_type' | orderBy: 'body_type'"
                                        ng-model = "selectedBodyType"
                                        ng-change = "selectChangedBodyType()">
                                    <option value = "">-- BODY TYPE --</option>
                                </select>
                            </div>
                            <div class = "formgroup col-md-3">
                                <select ng-options = "car.year for car in vm.yearData | unique:'year' | orderBy: 'year'"
                                        ng-change = "selectChangedYear()"
                                        ng-model = "selectedYear">
                                    <option value = "">-- YEAR --</option>
                                </select>
                            </div>
                            <div ng-show = "filterShow"
                                 class = "col-sm-12 advanced_search animated fadeInDown">
                                <div class = "filterarrow">
                                    <img src = "../img/filterarrow.png">
                                </div>
                                <h4>More filtering options...</h4>

                                <div class = "formgroup col-md-1">

                                </div>
                                <div class = "formgroup col-md-2 ">
                                    <select ng-options = "car.colour for car in vm.colourData | unique:'colour' | orderBy: 'colour'"
                                            ng-change = "selectChangedColour()"
                                            ng-model = "selectedColour">
                                        <option value = "">-- COLOUR --</option>
                                    </select>
                                </div>
                                <div class = "formgroup col-md-2">
                                    <label>Price Range</label>
                                    <rzslider rz-slider-floor = "rangeslider.floor"
                                              rz-slider-ceil = "rangeslider.ceil"
                                              rz-slider-model = "rangeslider.min"
                                              rz-slider-high = "rangeslider.max"
                                              rz-slider-options = "rangeslider.options"
                                              rz-slider-step = "{{rangeslider.step}}"></rzslider>
                                </div>
                                <div class = "formgroup col-md-2">
                                    <label>Mileage</label>
                                    <rzslider rz-slider-floor = "rangeslidermileage.floor"
                                              rz-slider-ceil = "rangeslidermileage.ceil"
                                              rz-slider-model = "rangeslidermileage.min"
                                              rz-slider-high = "rangeslidermileage.max"
                                              rz-slider-options = "rangeslidermileage.options"
                                              rz-slider-step = "{{rangeslidermileage.step}}"></rzslider>
                                </div>

                                <div class = "formgroup col-md-2">
                                    <select ng-model = "selectedDriveTrain">
                                        <option value = "">-- DRIVETRAIN --</option>
                                        <option value = "4x4">4 x 4</option>
                                        <option value = "4x2">4 x 2</option>
                                        <option value = "AWD">AWD</option>
                                        <option value = "FWD">FWD</option>
                                        <option value = "RWD">RWD</option>
                                    </select>
                                </div>
                                <div class = "formgroup col-md-2">
                                    <select ng-options = "car.condition for car in vm.conditionData | unique:'condition' | orderBy: 'condition'"
                                            ng-model = "selectedCondition"
                                            ng-change = "selectChangedCondition()">
                                        <option value = "">-- CONDITION --</option>
                                    </select>
                                </div>
                                <div class = "formgroup col-md-1">

                                </div>
                           <!--     <div class = "formgroup col-xs-12">
                                    <input type = "text"
                                           class = "searchtext"
                                           ng-model = "searchString"
                                           ng-change = "searchChanged(carQuantity)"
                                           placeholder = "KEYWORD: eg 4x4">
                                </div>  -->
                            </div>
                        </div>
                        <div class = "formgroup col-sm-12">
                            <button type = "button"
                                    class = "btn-primary btn btnfilter"
                                    ng-model = "filterShow"
                                    data-ng-click = "filterShow = !filterShow "
                                    ng-hide = "filterShow">
                                <span><i class = "fa fa-angle-double-down"
                                         aria-hidden = "true"></i></span>
                                MORE OPTIONS
                            </button>
                            <button type = "button"
                                    class = "btn-primary btn btnfilter"
                                    ng-model = "filterShow"
                                    data-ng-click = "filterShow = !filterShow "
                                    ng-show = "filterShow">
                                <span><i class = "fa fa-angle-double-up"
                                         aria-hidden = "true"></i></span>
                                LESS OPTIONS
                            </button>
                            <button type = "button"
                                    class = "btn-primary btn btnfilter"
                                    ng-click = "clearFilter()">
                                <span><i class = "fa fa-refresh"
                                         aria-hidden = "true"></i></span>
                                RESET FILTER
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class = "container">
            <div>

                <div ng-show = "sr.data.length == 0"
                     class = "fetch">
                    <i class = "fa fa-refresh fa-spin"
                       aria-hidden = "true"></i>
                </div>
                <div class = "page">
                    <dir-pagination-controls max-size = "6"

                                             direction-links = "true"

                                             boundary-links = "fasle"></dir-pagination-controls>
                </div>
                <div class = "filterblock paging col-xs-12">
                    <div class = "formgroup col-md-2 col-xs-12 ">
                        <select class = "perpage"
                                size = "4"
                                ng-model = "carQuantity"
                                ng-disabled = "showAll"
                                ng-change = "setItemsPerPage(carQuantity)"
                                ng-init = "carQuantity = perPage.item[0]"
                                ng-options = "c for c in perPage.item"></select>
                    </div>
                    <div class = "formgroup col-md-2 col-xs-12 ">
                        <label> ALL VEHICLES
                            <input type = "checkbox"
                                   ng-model = "showAll"
                                   name = "showAll"
                                   class = "filtercheck">
                        </label>
                    </div>
                    <div class = "formgroup sortselect col-md-2 col-xs-12">
                        <select class = "form-control sort"
                                name = "sort"
                                ng-model = "sortBy"
                                ng-change = "sort()">
                            <option value = "">ORDER BY</option>
                            <option value = "{{options.az}}">A - Z</option>
                            <option value = "{{options.za}}">Z - A</option>
                            <option value = "{{options.pricelow}}">Price Lowest</option>
                            <option value = "{{options.pricehigh}}">Price Highest</option>
                            <option value = "{{options.yearlow}}">Year Oldest</option>
                            <option value = "{{options.yearhigh}}">Year Latest</option>
                        </select>
                    </div>
                    <div class = "formgroup col-md-2 col-xs-12 ">
                        <h3 class = "count">Total Vehicles:
                            <span>{{totalItems}}</span>
                        </h3>
                    </div>
                </div>
                <div class = "col-md-12 col-xs-12 col-sm-12 carboxlist"
                     id = "{{car.stock_id}}"
                     dir-paginate = "car in vm.data | filter:searchString  | filter:new_used | filter:selectedDriveTrain | filter:minFilter | filter:maxFilter | filter:minmileFilter | filter:maxmileFilter | orderBy: sortBy  | itemsPerPage:carQuantity

">
                    <div class = "col-md-3 col-xs-12 show_piclist">
                        <a ng-click = "vm.detailsClick(car)">
                            <img ng-src = "{{::car.url1}}"
                                 src = "../img/nopic.jpg">
                        </a>
                    </div>
                    <div class = "col-md-9 col-xs-12 nopad">
                        <div class = "col-xs-12 nopad">
                            <div class = "homeheadinglist heading col-sm-6"> {{::car.make}}
                                <span> {{::car.variant}}</span>
                            </div>
                            <div class = "col-sm-6 heading2">{{::car.selling_price | currency: "R":0 }}

                            </div>
                        </div>

                        <ul class = "detailslist">
                            <li>
                                <strong>Spec: </strong>{{::car.year}}, {{::car.colour}}, {{::car.body_type}}, {{::car.mileage}}Km
                            </li>
                            <li><strong>Description: </strong>{{car.description | truncate:125:'...' || 'No Description'}}</li>
                        </ul>
                        <div>
                            <a class = "btn btn-primary "
                               ng-click = "vm.detailsClick(car)">DETAILS
                            </a>
                        </div>
                    </div>
                </div>
                <div class = "page">
                    <dir-pagination-controls max-size = "6"

                                             direction-links = "true"

                                             boundary-links = "fasle"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>


<update-title title = "Bay Motors | Vehicles for Sale"></update-title>
<update-meta name = "description"
             content = "View the Bay Motors cars for sale"></update-meta>
<update-meta name = "keywords"
             content = "Bay Motors, car, secondhand, Showroom"></update-meta>
<update-meta property = "og:title"
             content = "Bay Motors | Vehicles for Sale"></update-meta>
<update-meta property = "og:description"
             content = "View the Bay Motors cars for sale"></update-meta>