<section ng-controller = "showRoomall as vm"
         class = "homecontainer">
    <div class = "row">
        <div ng-include = '"templates/slider.html"'
             ng-style = "homeBanner"
             class = "slidercontainer"></div>
        <div ng-include = '"templates/call1.html"'
             ng-style = "Call1"
             class = "calloutone"></div>
        <div class = "container nopad"
             id = "blocks">


<div class="col-md-12 homehead">Wheels of the day (4)</div>


            <div ng-show = "sr.data.length == 0"
                 class = "fetch">
                <i class = "fa fa-refresh fa-spin"
                   aria-hidden = "true"></i>
            </div>
            <div class = "col-md-3 col-sm-6  carbox"
                 ng-repeat = "car in vm.data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))
                         | filter:searchString
                         | filter:selectedDriveTrain
                         | filter:minFilter
                         | filter:maxFilter
                         | filter:minmileFilter
                         | filter:maxmileFilter
                         | limitTo: vm.featuredLimit">
                <div>




                    <div class = "show_pic">
                        <a class = "xtradetails1"
                           ng-click = "vm.detailsClick(car)">
                            <i class="fa fa-play-circle" aria-hidden="true"></i> <br> OPEN DETAILED VIEW
                        </a>
                        <img ng-src = "{{car.url1}}"
                             src = "../img/nopic.jpg"
                             onerror = "this.src='../img/nopic.jpg'">
                    </div>
                    <div>
                        <h4 class = "homeheading"> {{car.make}} {{car.variant}}<br> <span class="money"> {{car.selling_price | currency: "R"}}</span></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "container transbg nopad">


                    <div class = "col-md-4 col-sm-4 col-xs-12 card nopadleft">
                        <div class = "row cardinner">
                            <h3 class = "banner-button">VEHICLE SHOWROOM</h3>
                            <div class="col-md-6 cardspaces"><p>View all the vehicles available, anywhere in the country.</p>
                                <br>
                                <button  ui-sref="showroom" class="btn btn-primary">View Cars</button>
                            </div>
                            <div class = "col-md-6 cardimg">
                                <img class="img-responsive" src = ""/>
                            </div>
                        </div>
                    </div>

                    <div class = "col-md-4 col-sm-4 col-xs-12 card ">
                        <div class = "row cardinner">
                            <h3 class = "banner-button">FINANCE</h3>
                            <div class="col-md-6 cardspaces"><p>Use our Finance Application form to apply for finance.</p>
                                <br>
                                <button  ui-sref="finance" class="btn btn-primary">View Form</button>
                            </div>
                            <div class = "col-md-6 cardimg">
                                    <img class="img-responsive" src = ""/>
                            </div>
                        </div>
                    </div>

                    <div class = "col-md-4 col-sm-4 col-xs-12 card nopadright">
                        <div class = "row cardinner">
                            <h3 class = "banner-button">CONTACT US</h3>
                            <div class="col-md-6 cardspaces"><p>Use our contact form to contact us. Let us know what you are looking for.</p>
                                <br>
                                <button  ui-sref="contact" class="btn btn-primary">View Contact Form</button>
                            </div>
                            <div class = "col-md-6 cardimg">
                                <img class="img-responsive" src = ""/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</section>

<update-title title = "Bay Motors | Home"></update-title>
<update-meta name = "description"
             content = "Welcome to Bay Motors, we offer a wide range of quality used vehicles to choose from and easy financing facilities. Come find the perfect car for you or your family!"></update-meta>
<update-meta name = "keywords"
             content = "Bay Motors Home, car, secondhand, car dealership"></update-meta>
<update-meta property = "og:title"
             content = "Bay Motors | Home"></update-meta>
<update-meta property = "og:description"
             content = "Welcome to Bay Motors, we offer a wide range of quality used vehicles to choose from and easy financing facilities. Come find the perfect car for you or your family!"></update-meta>