<section>
    <div class = "row">
        <div class = "col-md-2">
            <div ng-include = '"templates/leftside.html"' ng-style = "right"></div>
        </div>
        <div class = "col-sm-8 contentback">
            <h1 class = "topheader">TERMS OF SERVICE</h1>
            <p>The information contained on this site is provided for information only. While the information contained on the site has been compiled in good faith, no representation is made
               as to its completeness or accuracy. Blue Chip Dealers makes no commitment, and disclaims any duty, to update or correct or to provide notice as to any error or omission in any
               report or other information contained on the site. Blue Chip Dealers reserves the right to add, modify or delete information on this site at any time.</p>
            <p>All information and content on the site are subject to applicable statutes and regulations, and are furnished 'as is', without warranty of any kind, express or implied,
               including but not limited to implied warranties of merchantability, fitness for a particular purpose, or non-infringement. Blue Chip Dealers shall not be liable (whether in
               negligence or otherwise) to any person for any error, omission or incompleteness in the information, or reliance on the information, on the site, nor shall Blue Chip Dealers
               limited be under any obligation to advise any person of any error therein. In no event shall Blue Chip Dealers be liable for any damages whatsoever (including, without
               limitation, damages for loss of profits, business interruption, or loss of information) arising out of the use of or inability to use the site or the information thereon, even
               if Blue Chip Dealers has been advised of the possibility of such damages. Because some jurisdictions prohibit the exclusion or limitation of liability for consequential or
               incidental damages, the above limitation may not apply to you.</p>
            <p>Please note that there is no guarantee that any email sent to Blue Chip Dealers will be received by Blue Chip Dealers, or that the contents of the email will remain
               confidential during internet transmission.
            </p>
        </div>
        <div class = "col-md-2">
            <div ng-include = '"templates/rightside.html"' ng-style = "right"></div>
        </div>
    </div>
</section>
