<div ng-controller = "testDrive as vm">
    <div class = "modal-header">
        <h4 class = "modal-title" id = "myModalLabel">
            <span class = "">Vehicle Enquiry</span>
        </h4>
        <button type = "button" class = "close" ng-click = "cancel()" aria-label = "Close">
            <span aria-hidden = "true">&times;</span>
        </button>
    </div>
    <div class = "modal-body">
        <form id = "testdriveForm" name = "testdriveForm" novalidate angular-validator>
            <div class = "fb-text form-group field-name">
                <label for = "name" class = "fb-text-label">
                    <span class = "required" ng-if = "testdriveForm.name.$error.required">*</span>
                </label>
                <input type = "text"
                       data-ng-model = "vm.drive.name"
                       placeholder = "Your Full Name"
                       class = "form-control"
                       name = "name"
                       id = "name"
                       ng-minlength = "3"
                       validate-on = "dirty"
                       required-message = "'This field is required..'"
                       required>
            </div>
            <div class = "fb-text form-group field-number">
                <label for = "number" class = "fb-text-label">
                    <span class = "required" ng-if = "testdriveForm.number.$error.required">*</span>
                </label>
                <input type = "number"
                       data-ng-model = "vm.drive.number"
                       placeholder = "Contact Number"
                       class = "form-control"
                       name = "number"
                       id = "number"
                       ng-minlength = "10"
                       validate-on = "dirty"
                       required-message = "'This field is required..'"
                       invalid-message = "'Please enter at least 10 numbers..'"
                       required>
            </div>
            <div class = "fb-email form-group field-email">
                <label for = "email" class = "fb-email-label">
                    <span class = "required" ng-if = "testdriveForm.email.$error.required">*</span>
                </label>
                <input type = "email"
                       data-ng-model = "vm.drive.email"
                       placeholder = "Email"
                       class = "form-control"
                       name = "email"
                       id = "email"
                       validate-on = "dirty"
                       required-message = "'This field is required..'"
                       required>
            </div>
            <div class = "fb-undefined form-group field-message">
                <label for = "message" class = "fb-textarea-label"></label>
                <textarea type = "textarea"
                          data-ng-model = "vm.drive.message"
                          placeholder = "Message"
                          class = "form-control"
                          name = "message"
                          id = "message"></textarea>
            </div>
            <!--HIDDEN FIELDS-->
            <div class = "hidden">
                <div class = "fb-text form-group field-company_id">
                    <input type = "text"
                           data-ng-model = "vm.drive.company_id"
                           class = "form-control"
                           name = "company_id"
                           id = "company_id"
                           ng-init = "vm.drive.company_id=car.company_id"
                           value = "{{car.company_id}}">
                </div>
                <div class = "fb-text form-group field-stock_id">
                    <input type = "text"
                           data-ng-model = "vm.drive.stock_id"
                           class = "form-control"
                           name = "stock_id"
                           id = "stock_id"
                           ng-init = "vm.drive.carid=car.stock_id"
                           value = "{{car.stock_id}}">
                </div>
                <div class = "fb-text form-group field-make">
                    <input type = "text"
                           data-ng-model = "vm.drive.make"
                           class = "form-control"
                           name = "make"
                           id = "make"
                           ng-init = "vm.drive.make=car.make"
                           value = "{{car.make}}">
                </div>
                <div class = "fb-text form-group field-variant">
                    <input type = "text" data-ng-model = "vm.drive.variant" class = "form-control" name = "variant"
                           id = "variant" ng-init = "vm.drive.variant=car.variant" value = "{{car.variant}}">
                </div>
                <div class = "fb-text form-group field-year">
                    <input type = "text"
                           data-ng-model = "vm.drive.year"
                           class = "form-control"
                           name = "year"
                           id = "year"
                           ng-init = "vm.drive.year=car.year"
                           value = "{{car.year}}">
                </div>
                <div class = "fb-text form-group field-selling_price">
                    <input type = "text"
                           data-ng-model = "vm.drive.selling_price"
                           class = "form-control"
                           name = "selling_price"
                           id = "selling_price"
                           ng-init = "vm.drive.selling_price=car.selling_price"
                           value = "{{car.selling_price}}">
                </div>
            </div>
            <div class = "fb-button form-group field-submit">
                <button type = "button"
                        data-ng-click = "vm.sendMail()"
                        data-ng-disabled = "testdriveForm.$invalid"
                        class = "button-input btn btn-primary"
                        name = "submitbut2"
                        id = "submitbut2">
                    Submit
                </button>
            </div>
        </form>
        <span id = "mailsent">Thank you for contacting us. We will get back to you as soon as possible!</span>
        <span id = "mailnotsent">Your request has NOT been sent</span>
        <span id = "spinner"><i class = "fa fa-spinner fa-spin" aria-hidden = "true"></i> Your request is being processed</span>
    </div>
</div>

