<section class = "homecontainer">
    <div class = "row">
        <div class = "container testimonials">
            <h1 class = "topheader">Testimonials</h1>
            <div class = "col-sm-9">
                <div class = "testim">
                    <h2>Fantastic Service Experience</h2>
                    <p>A HUGE thank You to the Fantasy Cars team for the excellent service, generosity and caring nature you displayed in assisting me with the purchase of a Vehicle. Your entire staff were
                        ridiculously amazing, right from the first day I set foot in there. I was greeted by the Owner, Mike Honsa, who immediately made me feel like royalty . I was then taken for a test drive
                        by Na-ella, who was thoroughly professional in her approach. A Big Thank You to Melissa for her efforts, friendly smile and for the regular up-dates and feedback. She kept me in the loop
                        from beginning to end. You guys really went the extra mile to ensure my satisfaction. I have no doubt that I will return to Fantasy Cars for my next vehicle. I am thoroughly enjoying the
                        VW Touareg and thanks a mill, Mike, for the extra dash cam. You guys are an OUTSTANDING Team !!!
                    </p>
                    <p>Keep well. Adlee</p>
                </div>
                <div class = "testim">
                    <h2>Outstanding customer service</h2>
                    <p>I was treated like a king – when i enquire on a trade and buy of a Nissan GTR – all my years and experiences with sales reps and garages i can honestly say that Fantasycars and its
                        personel, are the BEST! it was a honour doing bussiness with you and I already directed all of my family and friends, to them. All the best of luck to all of the personell, Jeff,
                        Melissa, Mike, security officer and the ladies inside the office!
                    </p>
                </div>
                <div class = "testim">
                    <h2>Fantasy Cars Excellent Team</h2>
                    <p>Dear Mike Thank you so much for arranging a vehicle for me. The guy was very kind at auto elec. Lucy sent me to Battery Centre and they found the problem…. Wow you guys rock! U have an
                        excellent team working for you. Once again thx so much. Rgds Wybke
                    </p>
                </div>
                <div class = "testim">
                    <h2>Fantastic service and great attitude</h2>
                    <p>I had been looking for a Volvo on line, I found 9 and one with Fantasy Cars. After being jerked around by the others ie not returning calls, not interested in getting AA inspected, know
                        nothing about the history of the car I was fortunate to find Fantasycars and Na-ella. I was hesitant because of not viewing the car and it being in Cape Town however Na-ella knew the
                        history of the vehicle, all the ins and outs asked. I was sceptical about not seeing the vehicle about the delivery process and also the HelloPeter reports (First I thought they were
                        self written!) But now after going through the process I cannot recommend them highly enough. Na-ella, Jeff and Mike thank you for making a scary process easy. We got our AA inspection,
                        the inspector said if I didn’t buy the car he would he was so impressed. The prices are amazing and the car was so much more than originally thought, packed with many extra’s. I felt
                        like we had extra special service but really I think this is standard for Fantasy Cars. Thank you all for making it all come true. Na-ella, I hope your remember us next time. You a star
                        and would put most other salespersons to shame.
                    </p>
                    <p>Louxtreme
                    </p>
                </div>
            </div>
            <div class = "col-sm-3 testimform"
                 ng-controller = "testimonial as vm">
                <h3>ADD YOUR TESTIMONIAL</h3>
                <form name = "testiMonials"
                      id = "testiMonials"
                      novalidate
                      angular-validator>
                    <div class = "form-group form-group-name col-sm-12">
                        <label>
                            <span class = "required"
                                  ng-if = "testiMonials.name.$error.required">*</span>
                        </label>
                        <input type = "text"
                               ng-model = "vm.testim.name"
                               id = "name"
                               name = "name"
                               placeholder = "Full Name"
                               class = "form-control"
                               required
                               ng-minlength = "3"
                               validate-on = "dirty"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "form-group form-group-number col-sm-12">
                        <label>
                            <span class = "required"
                                  ng-if = "testiMonials.number.$error.required">*</span>
                        </label>
                        <input type = "number"
                               ng-model = "vm.testim.number"
                               id = "number"
                               name = "number"
                               placeholder = "Contact Number"
                               class = "form-control"
                               required
                               validate-on = "dirty"
                               ng-minlength = "10"
                               invalid-message = "'You need at least 10 numbers, no spaces'"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "form-group form-group-email col-sm-12">
                        <label>
                            <span class = "required"
                                  ng-if = "testiMonials.email.$error.required">*</span>
                        </label>
                        <input type = "email"
                               id = "email"
                               name = "email"
                               ng-model = "vm.testim.email"
                               placeholder = "Email"
                               class = "form-control"
                               required
                               validate-on = "dirty"
                               invalid-message = "'Please enter a valid email..'"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "form-group  form-field-dealer col-sm-12">
                        <!-- <select type = "select"
                                 required
                                 class = "form-control"
                                 name = "dealer"
                                 id = "dealer"
                                 ng-model = "vm.testim.dealer"
                                 ng-options = "location for location in vm.data | unique:'location' | orderBy: 'location'">
                             <option value = "" ng-if = "!vm.testim.dealer">&#45;&#45; SELECT DEALERSHIP &#45;&#45;</option>
                         </select>-->
                        <label>
                            <span class = "required"
                                  ng-if = "testiMonials.dealer.$error.required">*</span>
                        </label>
                        <input type = "text"
                               ng-model = "vm.testim.dealer"
                               id = "dealer"
                               name = "dealer"
                               placeholder = "Dealership"
                               class = "form-control"
                               required
                               ng-minlength = "3"
                               validate-on = "dirty"
                               invalid-message = "'Please enter more than 3 characters..'"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "form-group form-group-subject col-sm-12">
                        <label>
                            <span class = "required"
                                  ng-if = "testiMonials.subject.$error.required">*</span>
                        </label>
                        <input type = "text"
                               ng-model = "vm.testim.subject"
                               id = "subject"
                               name = "subject"
                               placeholder = "Subject"
                               class = "form-control"
                               required
                               ng-minlength = "3"
                               validate-on = "dirty"
                               invalid-message = "'Please enter more than 3 characters..'"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "form-group form-group-comment col-sm-12">
                        <label>
                            <span class = "required"
                                  ng-if = "testiMonials.comment.$error.required">*</span>
                        </label>
                        <textarea ng-model = "vm.testim.comment"
                                  id = "comment"
                                  name = "comment"
                                  placeholder = "Comments"
                                  required
                                  validate-on = "dirty"
                                  ng-minlength = "5"
                                  invalid-message = "'Please enter more than 3 characters..'"
                                  required-message = "'This field is required..'"></textarea>
                    </div>
                    <div class = "form-group form-group-comment col-sm-12">
                        <button type = "button"
                                ng-click = "vm.sendMail()"
                                class = "button-input btn btn-primary"
                                ng-disabled = "testiMonials.$invalid"
                                name = "submit"
                                id = "submit">Submit
                        </button>
                    </div>
                </form>
                <span id = "mailsent">Your testimonial has been received</span>
                <span id = "mailnotsent">Your testimonial has NOT been sent</span>
                <span id = "spinner"><i class = "fa fa-circle-o-notch fa-spin"
                                        aria-hidden = "true"></i> Your testimonial is being processed</span>
            </div>
        </div>
    </div>
</section>
