<div class="row">
    <div class="container">
        <div class="col-md-9">View all the vehicles on our showroom floor...</div>
        <div class="col-md-2">
            <button class="btn btn-primary pull-right" ui-sref="showroom">SHOWROOM</button>
        </div>
    </div>
</div>