<section ng-style = "credit" class="footer">

        <div class = "col-md-12 credits text-center">
            <div class = "row">
                <a ng-href = "http://baymotors.co.za"
                   class = "ng-binding"
                   href = "http://baymotors.co.za">Bay Motors
                </a>
                <a ui-sref = "showroom">Showroom</a>
                <a ui-sref = "finance">Finance Application</a>
                <a ui-sref = "finance_calculator">Finance Calculator</a>
                <a ui-sref = "sell_car">Trade In</a>
                <a ui-sref = "contact">Contact Us</a>
                <div class = "row text-center col-md-12 copy">
                    © 2019 Bay Motors Sales. All rights reserved Powered by
                    <a href = "http://www.vmgsoftware.co.za">VMG Software</a>
                </div>
            </div>
        </div><div class="clearfix"></div>

    <back-top scroll-speed = " "
              button-theme = "dark"><i class = "fa fa-angle-double-up"
                                       aria-hidden = "true"></i>
    </back-top>
</section>
