<nav class="navbar navbar-default" ng-scope >
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home"><img src="/img/logo.png" class="img-responsive"></a>
        </div>
        <div class="headercontact col-md-5 pull-right"  ng-style = "topSocial"
             data-ng-controller = "topSocial">
            <a href = "tel:{{store.tel1}}">{{store.tel1}}</a>
            <br>
         {{store.address1}}



            <span class="headercontact_addy" ng-bind-html="store.address"></span>
        </div>
    </div>
    <!-- /.container-fluid -->
    <div class="row navrow">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a ui-sref="home"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                    </li>
                    <li>
                        <a ui-sref="showroom"><i class="fa fa-car" aria-hidden="true"></i> Showroom</a>
                    </li>
                    <li>
                        <a ui-sref="finance"><i class="fa fa-check" aria-hidden="true"></i> Vehicle Finance</a>
                    </li>
                    <li>
                        <a ui-sref="finance_calculator"><i class="fa fa-table" aria-hidden="true"></i> Finance Calculator</a>
                    </li>
                    <li>
                        <a ui-sref="sell_car"><i class="fa fa-refresh" aria-hidden="true"></i> Trade in</a>
                    </li>
                    <li>
                        <a ui-sref="contact"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </div>
</nav>

<script>
    $(".nav li").on("click", function() {
        $(".nav li").removeClass("active");
        $(this).addClass("active");
    });

</script>