<div id = "homeslide" class = "owl-carousel owl-theme" data-ng-controller = "sliderController">
    <div class = "item">
       <!-- <div class = "slidertext">
            <span>Ghibli</span>
            A masterful combination of style, power, sporty handling and comfort. The Maserati Ghibli is a supreme example of Italian design.
        </div>-->
        <img src = "../img/slider1.jpg" alt = "">
    </div>
    <div class = "item">
      <!--  <div class = "slidertext">
            <span>Huracan Spyder</span>
            There's one easy way to fix the flaws of a naturally aspirated supercar, and that's to stick a big supercharger onto its engine.
        </div>-->
        <img src = "../img/slider2.jpg" alt = "">
    </div>
    <div class = "item">
        <!--<div class = "slidertext">
            <span>Ghost</span>
             Ghost is for a life not bound by single office or time zone. For those who respected what has been, but know that tomorrow is theirs to shape.
        </div>-->
        <img src = "../img/slider3.jpg" alt = "">
    </div>
    <div class = "item">
       <!-- <div class = "slidertext">
            <span>Ghost</span>
             Ghost is for a life not bound by single office or time zone. For those who respected what has been, but know that tomorrow is theirs to shape.
        </div>-->
        <img src = "../img/slider4.jpg" alt = "">
    </div>

</div>
<div class = "shadow"></div>
<script type = "application/javascript">
    $(document).ready(function () {
        $('#homeslide').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            dots: false,
            autoplay: true,
            animateIn: 'animein',
            animateOut: 'animeout',
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    });
</script>