<div id = "homeslide" class = "owl-carousel owl-theme">
    <div class = "item">
        <img src = "../img/footerlogos/ida.png" alt = "">
    </div>
    <div class = "item">
        <img src = "../img/footerlogos/light.png" alt = "">
    </div>
    <div class = "item">
        <img src = "../img/footerlogos/mwp.png" alt = "">
    </div>
    <div class = "item">
        <img src = "../img/footerlogos/vmg.png" alt = "">
    </div>
</div>
<script type = "application/javascript">
    $(document).ready(function () {
        $('#homeslide').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            dots: false,
            autoplay: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 4
                },
                1000: {
                    items: 4
                }
            }
        })
    });
</script>